/*
* Usage: https://smacss.com/book/type-layout
**/
.header {
  &__logo {
    float: left;
    margin-top: 0;
    @media (min-width: $break__sm) and (max-width: $break__md) {
      margin-top: 12px;
    }
  }
}
.navbar {
  padding: 20px 0 0;
  margin-bottom: 12px;
}

#sidebar {
  margin-right: 20px;
}

.prefooter {
  padding: 25px 0;
  color: #fff;
  background: $color__primary;

  a {
    color: #fff;
  }
  small {
    color: #fff;
    padding-right: 25px;
  }
  .btn {
    color: $color__primary;
    &:hover {
      background-color: #f5f5f5;
    }
  }
  &__left, &__right {
    text-align: center;
  }
  &__left{

  }
  &__right{

    .btn-go-to-crc {
      background: transparent;
      color: #fff;
      text-transform: none;
      &:hover {
        color: $color__primary;
      }
    }
    span {
      font-weight: 200;
      font-size: 1.25rem;
      padding: 10px;
      color: #a3bdda;
      display: block;
      @include respond-to(xs) {
        display: inline-block;
      }
    }
    
    @include respond-to(md) {
      text-align: right;
    }
  }
}

.mainfooter {
  padding: 20px 0 10px;
}

#footer {
  margin-top: 85px;
  @include font-size(1.1);

  .front-page & {
    margin-top: 0;
  }
}

.footer {
  &__logo {
    display: inline-block;
    margin-top: 11px;
  }
  &__contact {
    margin-top: 0;
    &.first {
      margin-top: 15px;
    }

    @include respond-to(xs) {
      margin-top: 32px;
    }
  }
  &__controls {
    margin-top: 16px;
  }
}