.landing-pg__hero {
  background-image: linear-gradient(#fff, #fff, #f2f2f2);
}
.landing-pg__logo {
  text-align: center;
}
@media screen and (min-width: 990px) {
  .landing-pg__logo {
    text-align: left;
  }
}
.landing-pg__hero-blue-top {
  background-color: #0068b0;
  height: 10px;
  margin-bottom: 16px;
}
.landing-pg__hero-copy {
  padding: 0 15px 25px 15px;
}
@media screen and (min-width: 990px) {
  .landing-pg__hero-copy {
    padding: 25px 0;
  }
}
.landing-pg__hero-header {
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  color: #0068b0;
  margin-top: 10px;
}
@media screen and (min-width: 978px) {
  .landing-pg__hero-header {
    font-size: 42px;
    line-height: 52px;
    margin-top: 30px;
  }
}
.landing-pg__hero-text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  margin-top: 0;
}
@media screen and (min-width: 978px) {
  .landing-pg__hero-text p {
    font-size: 30px;
    line-height: 42px;
  }
}
.landing-pg__hero-img {
  display: block;
}
@media screen and (min-width: 990px) {
  .landing-pg__hero-img {
    position: absolute;
    left: -50px;
    top: 95px;
  }
}
.landing-pg__article {
  margin: 30px 0 35px 0;
}
@media screen and (min-width: 990px) {
  .landing-pg__article {
    margin: 90px 0 85px 0;
  }
}
.landing-pg__article-header {
  color: #0068b0;
  font-size: 31px;
  line-height: 31px;
  font-weight: 300;
  margin: 0 0 30px 0;
}
.landing-pg__form {
  padding: 40px 30px 45px 30px;
  background-color: #f5f5f5;
  border: 5px solid #0068b0;
  margin: 0 15px;
}
@media screen and (min-width: 978px) {
  .landing-pg__form {
    margin: unset;
  }
}
.landing-pg__form input {
  width: 100%;
  padding: 8px 7px;
}
.landing-pg__form .wpcf7-submit {
  background-color: #0068b0;
  color: #fff;
  font-size: 16px;
  padding: 15px;
  margin-top: 18px;
}
.landing-pg__form label {
  font-size: 16px;
  font-weight: 300;
}
.landing-pg__form label span {
  color: #ed1c24;
}
.landing-pg__form p {
  margin: 0 0 18px 0;
}
.landing-pg__copyright {
  display: inline-block;
  font-size: 14px;
  margin-top: 20px;
  float: right;
}
.landing-pg .created-by__btn__icon, .landing-pg .created-by__btn__icon--hover {
  right: 15px;
  margin: 25px 0;
}
.cr-video {
  margin: 0 0 28px 30px;
}
.crc-category .results-container .results-container .results-heading {
  background-color: #d3d3d3;
  cursor: grab;
  padding: 5px;
}
.crc-category .results-container .results-container .results-heading:after {
  content: "\2039";
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  margin-left: 14px;
}
.crc-category .results-container .results-container .results-heading:hover {
  color: black;
}
.crc-category .results-container .results-container h2 {
  margin-bottom: 10px;
}
.crc-category .results-container .results-container .results-heading--active:after {
  content: "\2039";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  margin-left: 10px;
}
.crc-category .results-container .results-container .results .results-heading {
  font-size: 16px;
  background-color: transparent;
  padding-bottom: 5px;
}
.hero--eplex {
  background: none;
  background-image: url(../img/hero-home-US.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}
@media (max-width: 1200px) {
  .hero--eplex {
    background: none;
  }
}
.hero--eplex-container {
  height: 100%;
}
@media (min-width: 1200px) {
  .hero--eplex {
    height: 415px;
  }
}
.hero__content {
  max-width: 100%;
}
.hero--eplex .hero__content {
  margin-bottom: 80px;
}
@media (max-width: 1000px) {
  .hero--eplex .hero__content {
    margin-bottom: 40px;
  }
}
.hero--eplex .hero__title {
  font-size: 91px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  letter-spacing: -2px;
  line-height: 78px;
}
.hero-sub-title {
  font-size: 45px;
  font-weight: 400;
  color: #0368b1;
  margin: 0px 0 20px 0;
  letter-spacing: -2px;
}
@media (max-width: 1000px) {
  .hero-sub-title {
    font-size: 30px;
    line-height: 35px;
    padding-top: 20px;
  }
}
.hero-blurb {
  font-size: 35px;
  font-weight: 400;
  color: #0368b1;
  letter-spacing: -2px;
  display: block;
  margin-top: 25px;
}
@media (max-width: 1000px) {
  .hero-blurb {
    font-size: 25px;
    line-height: 30px;
  }
}
.hero-title-divider {
  height: 6px;
  width: 173px;
  background-color: #0368b1;
}
.hero-side-info {
  font-size: 33px;
  color: #fff;
  text-align: center;
  letter-spacing: -2px;
  line-height: 30px;
  bottom: 35px;
  margin-left: 54px;
  position: absolute;
}
@media (max-width: 1000px) {
  .hero-side-info {
    font-size: 25px;
    line-height: 30px;
  }
}
@media (max-width: 1200px) {
  .hero-side-info {
    color: #0368b1;
    text-align: left;
    margin: unset;
    position: relative;
    bottom: unset;
  }
}
@media (max-width: 767px) {
  .hero-side-info {
    margin-left: 30px;
  }
}
.hero-side-info-container {
  height: 100%;
}
@media (max-width: 1200px) {
  .hero-side-info-container {
    height: auto;
  }
}
