h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  line-height: 1.5;
  font-family: $font__heading;
  margin-bottom: 0.5em;
}

h1 {
  margin-top: 30px;

  @include font-size(3.4);
  font-weight: 300;
  color: $color__primary;
}

h2 {
  margin: 30px 0 15px;
  @include font-size(2.4);
  font-weight: 300;
}

h3 {
  @include font-size(2);
  font-weight: 300;
}