a {
  color: $color__link;
  text-decoration: underline;

  &:visited {
    color: $color__link-visited;
  }
  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}

a.btn {
  white-space: normal;
  @include respond-to(xs) {
    white-space: nowrap;
  }
}
.btn {
  padding: 10px 15px;
  margin-bottom: 4px;
  border-radius: 4px;

  // text-transform: uppercase;
  text-decoration: none;
  @include font-size(1.2);
  font-weight: 400;
  transition: color 0.2s, background 0.2s, border 0.2s;
  line-height: 1;

  @include respond-to(xs) {
    margin-bottom: 0;
  }

  &--small {
    padding: 7px 15px;
    @include font-size(1);
  }

  .dropdown--toolbar &.dropdown-toggle {
    padding: 4px 6px;
    text-transform: none;
    font-weight: 400;
  }
  .open &.dropdown-toggle {
    border-radius: 4px 4px 0 0;
  }

  &-default {
    color: $color__link;
    border-color: $color__secondary--dark;

    &:visited {
      color: $color__link;
    }

    &:hover,
    .open > & {
      border-color: $color__link;
      color: #fff;
      background: $color__link;
    }

    &.reversed,
    &--toolbar {
      border-color: transparent;
      // border-color: $color__secondary--dark;
      color: #fff;
      background: $color__link;

      &:visited {
        color: #fff;
      }

      &:hover,
      .open > & {
        background: $color__primary--light;
        color: #fff;
        border-color: transparent;
      }
    }
    &--toolbar {
      border-color: $color__secondary--dark;
      &:hover,
      .open > &.dropdown-toggle {
        background: $color__primary--light;
        color: #fff;
        border-color: $color__secondary--dark;
      }
    }
  }

  > .fa {
    margin-right: 3px;
    @include font-size(1.2);
  }
}

.sortable {
  @extend a;
  color: $color__text-screen;
  white-space: nowrap;

  &:visited {
    color: $color__text-screen;
  }

  &.asc,
  &.desc {
    color: $color__link;
    .caret {
      color: $color__link;
    }
  }

  abbr {
    cursor: pointer;
  }

  .caret {
    color: lighten( $color__text-screen, 25% );
  }

  &.asc {
    .caret {
      transform: rotate( 180deg );
    }
  }
}

.morelink {
  white-space: nowrap;
}
