ul,
ol {
  @include font__base-size();
  margin: 1.5em 0 1.5em 1.5em;
}
ul {
  //list-style: circle;
  list-style-image: url('img/list_bullet.png');
  padding-left: 0;
}

ol {
  list-style: decimal;
}
li > ul,
li > ol {
  margin: 0 0 0 1.5em;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 1.5em 1.5em;
}

#body li > ul {
  list-style: none;
  position: relative;
  > li {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -0.7em;
      height: 8px;
      width: 8px;
      border: 4px transparent solid;
      border-left-color: $color__text-screen;
    }
  }
}

#sidebar li > ul > li {
  &::before {
    content: none;
  }
}