table {
  margin: 0 0 1.5em;
  width: 100%;
  @include font__base-size();
  th {
    padding: 10px 20px;
    @media (max-width: $break__sm) {
      padding: 5px 5px;
    }
  }
  td {
    padding: 2px 20px;
    vertical-align: top;
    @media (max-width: $break__sm) {
      padding: 2px 5px;
    }
  }

  &.item-list {
    td {
      vertical-align: top;
    }
  }

}
.table {
  &--specs {
    table-layout: fixed;
    > tbody > tr {
      > td {
        border-top: none;
        padding: 12px 15px;
      }
      &:nth-child(even) > td {
        background: $color__primary--lighter;
      }
      > td:first-child {
        @include font-size(1.4);
      }
    }
  }

  &--comparison {
    border: 3px #f2f7fb solid;

    > tbody > tr {
      > th {
        background: #f2f7fb;
        font-weight: 300;
        text-align: center;
      }
      > td {
        border-color: $color__secondary;
        padding: 8px 17px;
        vertical-align: middle;

        &.highlight {
          border: none;
          background: $color__primary;
          color: #fff;
        }
      }
    }
  }

  &--diagram {
    border: 0;

    > tbody > tr > td {
      padding: 0;
      border: 0;

      > img {
        max-width: none !important;
      }
    }
  }

  &--responsive {
    table-layout: fixed;
    > tbody > tr {
      > td {
        vertical-align: top;
        display: inline-block;
        border-top: 0;
        padding-top: 2px;
        padding-right: 15px;
        padding-bottom: 2px;
        padding-left: 0;
        width: 100%;
        //text-align: center;
        > p {
          text-align: left;
        }
        // min-width: 100%;
        // max-width: initial;
        @include respond-to(xs) {
          display: table-cell;
          width: auto;
          text-align: left;
          // min-width: initial;
          // max-width: 1px;
        }
        > img {
          max-width: 100%;
        }
        > ul {
          margin: 0;
          margin-left: 25px;
        }
      }
    }
  }

  &--request-information{

    >tbody > tr {


      & > th, & > td {
        display: inline;
        @include respond-to(xs) {
          display: table-cell;
        }
      }
      & > th {
        width: 100%;
        padding: 0;
        font-weight: inherit;
        vertical-align: top;

        @include respond-to(xs) {
          width: 150px;
        }
      }
      & > td {
        padding-bottom: 10px;


      }

      input, textarea{
        background: #EEE;
        border-radius: 0 !important;
        border: 0 !important;
      }

      input{
        &[type="text"], &[type="tel"], &[type="email"]{
          height: 100%;
          padding: 7.5px 12px;
          @include respond-to(sm) {
            width: 60%;
          }
        }
        &[type="checkbox"]{
          margin-right: 7.5px;
          margin-bottom: 10px;
        }
      }

      span.wpcf7-list-item{
        margin-left: 0;
        display: block;
      }

      div.wpcf7-mail-sent-ok {
        font-size: 2rem;
        text-align: center;
        border: none;
        color: #398f14;
      }

      input[type="submit"]{
        background-color: $color__primary;
        color: #FFF;
        letter-spacing: 1px;
        text-transform: uppercase;

        @include respond-to(xs) {
          width: 100px;
        }
      }

    }
  }
}
