/*
* Usage: Utility classes that do not fit anywhere in particular into SMACSS (https://smacss.com/book/)
**/

@import "accessibility";
@import "clearings";

.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.required {
  color: red;
  font-size: 1.25rem;
  position: relative;
  top: -5px;
}
.up {
  color: #9fa617;
}
.upper-blue {
  font-weight: 500;
  // text-transform: uppercase;
  color: $color--primary;
}
label.upper-blue {
  @include font-size(1.4);
}
.thin {
  font-weight: 200;
}
.question {
  font-weight: 300;
  @include font-size(2.0);
  color: #58595b;
}
.note {
  font-style: italic;
  @include font-size(1.4);
}
.footnote {
  margin-bottom: 0;
  @include font-size(1.2);
  font-style: italic;
  word-wrap: break-word;
  @include respond-to(xs){
    word-wrap: normal;
  }
}
.fakelink {
  cursor: pointer;
}
.error {
  font-weight: 300;
  color: red;
  @include font-size(1.4);
}
#menu-primary-nav .dropdown-backdrop,
#menu-primary-nav-international .dropdown-backdrop {
  display: none;
}
