@import 'style.css';
html {
  font-size: 10px;
  padding: 5px;
}
body {
  background: none;
}
body > p:first-child {
  margin-top: 0;
}
strong,
.upper-blue {
  font-weight: bold;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  /*cursor: pointer;*/
  /*-moz-user-select: none;*/

  background-image: none;
  /*border: 1px solid transparent;*/
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
}
.btn:hover {
  background: none;
  color: #000;
}
.header-accordion {
  cursor: text;
}
ul {
  padding-left: 40px;
}
td {
  border-color: #bbb !important;
}
.table--diagram > tbody > tr > td {
  border-color: #bbb !important;
}