/*
Theme Name: genmark
Text Domain: genmark

*/
/*--------------------------------------------------------------*/
@font-face {
  font-family: 'helvetica ce';
  src: url("fonts/HelveticaNeueCE-BoldItalic.woff2") format("woff2"), url("fonts/HelveticaNeueCE-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'helvetica ce';
  src: url("fonts/HelveticaNeueCE-Roman.woff2") format("woff2"), url("fonts/HelveticaNeueCE-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*--------------------------------------------------------------
1.0 Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a, .sortable {
  background-color: transparent;
}

a:active, .sortable:active,
a:hover,
.sortable:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
2.0 Base
--------------------------------------------------------------*/
/*
* Usage: https://smacss.com/book/type-base
**/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}

body,
button,
input,
select,
textarea {
  color: #58595b;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
}

b, strong {
  font-weight: 400;
}

blockquote, q {
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

hr {
  background-color: #d0d0d0;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}
img.aligncenter, img.alignleft, img.alignright, img.alignnone {
  max-width: 100% !important;
  /* make sure embedded images obey this in content */
}

label {
  font-weight: 400;
}
@media (max-width: 768px) {
  label {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  label {
    font-size: 25.6px;
    font-size: 1.6rem;
  }
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

ul,
ol {
  margin: 1.5em 0 1.5em 1.5em;
}
@media (max-width: 768px) {
  ul,
  ol {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  ul,
  ol {
    font-size: 25.6px;
    font-size: 1.6rem;
  }
}

ul {
  list-style-image: url("img/list_bullet.png");
  padding-left: 0;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin: 0 0 0 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

#body li > ul {
  list-style: none;
  position: relative;
}
#body li > ul > li {
  position: relative;
}
#body li > ul > li::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -0.7em;
  height: 8px;
  width: 8px;
  border: 4px transparent solid;
  border-left-color: #58595b;
}

#sidebar li > ul > li::before {
  content: none;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}
@media (max-width: 768px) {
  table {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  table {
    font-size: 25.6px;
    font-size: 1.6rem;
  }
}
table th {
  padding: 10px 20px;
}
@media (max-width: 992px) {
  table th {
    padding: 5px 5px;
  }
}
table td {
  padding: 2px 20px;
  vertical-align: top;
}
@media (max-width: 992px) {
  table td {
    padding: 2px 5px;
  }
}
table.item-list td {
  vertical-align: top;
}

.table--specs {
  table-layout: fixed;
}
.table--specs > tbody > tr > td {
  border-top: none;
  padding: 12px 15px;
}
.table--specs > tbody > tr:nth-child(even) > td {
  background: #e5f0f7;
}
.table--specs > tbody > tr > td:first-child {
  font-size: 22.4px;
  font-size: 1.4rem;
}
.table--comparison {
  border: 3px #f2f7fb solid;
}
.table--comparison > tbody > tr > th {
  background: #f2f7fb;
  font-weight: 300;
  text-align: center;
}
.table--comparison > tbody > tr > td {
  border-color: #f5f5f5;
  padding: 8px 17px;
  vertical-align: middle;
}
.table--comparison > tbody > tr > td.highlight {
  border: none;
  background: #0068b0;
  color: #fff;
}
.table--diagram {
  border: 0;
}
.table--diagram > tbody > tr > td {
  padding: 0;
  border: 0;
}
.table--diagram > tbody > tr > td > img {
  max-width: none !important;
}
.table--responsive {
  table-layout: fixed;
}
.table--responsive > tbody > tr > td {
  vertical-align: top;
  display: inline-block;
  border-top: 0;
  padding-top: 2px;
  padding-right: 15px;
  padding-bottom: 2px;
  padding-left: 0;
  width: 100%;
}
.table--responsive > tbody > tr > td > p {
  text-align: left;
}
@media (min-width: 768px) {
  .table--responsive > tbody > tr > td {
    display: table-cell;
    width: auto;
    text-align: left;
  }
}
.table--responsive > tbody > tr > td > img {
  max-width: 100%;
}
.table--responsive > tbody > tr > td > ul {
  margin: 0;
  margin-left: 25px;
}
.table--request-information > tbody > tr > th, .table--request-information > tbody > tr > td {
  display: inline;
}
@media (min-width: 768px) {
  .table--request-information > tbody > tr > th, .table--request-information > tbody > tr > td {
    display: table-cell;
  }
}
.table--request-information > tbody > tr > th {
  width: 100%;
  padding: 0;
  font-weight: inherit;
  vertical-align: top;
}
@media (min-width: 768px) {
  .table--request-information > tbody > tr > th {
    width: 150px;
  }
}
.table--request-information > tbody > tr > td {
  padding-bottom: 10px;
}
.table--request-information > tbody > tr input, .table--request-information > tbody > tr textarea {
  background: #EEE;
  border-radius: 0 !important;
  border: 0 !important;
}
.table--request-information > tbody > tr input[type="text"], .table--request-information > tbody > tr input[type="tel"], .table--request-information > tbody > tr input[type="email"] {
  height: 100%;
  padding: 7.5px 12px;
}
@media (min-width: 992px) {
  .table--request-information > tbody > tr input[type="text"], .table--request-information > tbody > tr input[type="tel"], .table--request-information > tbody > tr input[type="email"] {
    width: 60%;
  }
}
.table--request-information > tbody > tr input[type="checkbox"] {
  margin-right: 7.5px;
  margin-bottom: 10px;
}
.table--request-information > tbody > tr span.wpcf7-list-item {
  margin-left: 0;
  display: block;
}
.table--request-information > tbody > tr div.wpcf7-mail-sent-ok {
  font-size: 2rem;
  text-align: center;
  border: none;
  color: #398f14;
}
.table--request-information > tbody > tr input[type="submit"] {
  background-color: #0068b0;
  color: #FFF;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .table--request-information > tbody > tr input[type="submit"] {
    width: 100px;
  }
}

a, .sortable {
  color: #0068b0;
  text-decoration: underline;
}
a:visited, .sortable:visited {
  color: #004a7d;
}
a:hover, .sortable:hover, a:focus, .sortable:focus, a:active, .sortable:active {
  color: #58595b;
}
a:focus, .sortable:focus {
  outline: thin dotted;
}
a:hover, .sortable:hover, a:active, .sortable:active {
  outline: 0;
}

a.btn, .btn.sortable, .pagination > li > a, .pagination > li > .sortable {
  white-space: normal;
}
@media (min-width: 768px) {
  a.btn, .btn.sortable, .pagination > li > a, .pagination > li > .sortable {
    white-space: nowrap;
  }
}

.btn, .pagination > li > a, .pagination > li > .sortable {
  padding: 10px 15px;
  margin-bottom: 4px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 19.2px;
  font-size: 1.2rem;
  font-weight: 400;
  transition: color 0.2s, background 0.2s, border 0.2s;
  line-height: 1;
}
@media (min-width: 768px) {
  .btn, .pagination > li > a, .pagination > li > .sortable {
    margin-bottom: 0;
  }
}
.btn--small {
  padding: 7px 15px;
  font-size: 16px;
  font-size: 1rem;
}
.dropdown--toolbar .btn.dropdown-toggle, .dropdown--toolbar .pagination > li > a.dropdown-toggle, .dropdown--toolbar .pagination > li > .dropdown-toggle.sortable {
  padding: 4px 6px;
  text-transform: none;
  font-weight: 400;
}
.open .btn.dropdown-toggle, .open .pagination > li > a.dropdown-toggle, .open .pagination > li > .dropdown-toggle.sortable {
  border-radius: 4px 4px 0 0;
}
.btn-default, .pagination > li > a, .pagination > li > .sortable {
  color: #0068b0;
  border-color: #d0d0d0;
}
.btn-default:visited, .pagination > li > a:visited, .pagination > li > .sortable:visited {
  color: #0068b0;
}
.btn-default:hover, .pagination > li > a:hover, .pagination > li > .sortable:hover, .open > .btn-default, .pagination > li.open > a, .pagination > li.open > .sortable {
  border-color: #0068b0;
  color: #fff;
  background: #0068b0;
}
.btn-default.reversed, .pagination > li > a.reversed, .pagination > li > .reversed.sortable, .btn-default--toolbar {
  border-color: transparent;
  color: #fff;
  background: #0068b0;
}
.btn-default.reversed:visited, .pagination > li > a.reversed:visited, .pagination > li > .reversed.sortable:visited, .btn-default--toolbar:visited {
  color: #fff;
}
.btn-default.reversed:hover, .pagination > li > a.reversed:hover, .pagination > li > .reversed.sortable:hover, .open > .btn-default.reversed, .pagination > li.open > a.reversed, .pagination > li.open > .reversed.sortable, .btn-default--toolbar:hover, .open > .btn-default--toolbar {
  background: #3385c1;
  color: #fff;
  border-color: transparent;
}
.btn-default--toolbar {
  border-color: #d0d0d0;
}
.btn-default--toolbar:hover, .open > .btn-default--toolbar.dropdown-toggle {
  background: #3385c1;
  color: #fff;
  border-color: #d0d0d0;
}
.btn > .fa, .pagination > li > a > .fa, .pagination > li > .sortable > .fa {
  margin-right: 3px;
  font-size: 19.2px;
  font-size: 1.2rem;
}

.sortable {
  color: #58595b;
  white-space: nowrap;
}
.sortable:visited {
  color: #58595b;
}
.sortable.asc, .sortable.desc {
  color: #0068b0;
}
.sortable.asc .caret, .sortable.desc .caret {
  color: #0068b0;
}
.sortable abbr {
  cursor: pointer;
}
.sortable .caret {
  color: #98999b;
}
.sortable.asc .caret {
  transform: rotate(180deg);
}

.morelink {
  white-space: nowrap;
}

p {
  margin: 1.5em 0;
}
@media (max-width: 768px) {
  p {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  p {
    font-size: 25.6px;
    font-size: 1.6rem;
  }
}
p:before, p:after {
  content: "";
  display: table;
}
p:after {
  clear: both;
}

#footer p {
  font-size: 17.6px;
  font-size: 1.1rem;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

sup {
  top: -1em;
  font-size: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0.5em;
}

h1 {
  margin-top: 30px;
  font-size: 54.4px;
  font-size: 3.4rem;
  font-weight: 300;
  color: #0068b0;
}

h2 {
  margin: 30px 0 15px;
  font-size: 38.4px;
  font-size: 2.4rem;
  font-weight: 300;
}

h3 {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 300;
}

button,
input[type="button"],
input[type="reset"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
@media (max-width: 768px) {
  button,
  input[type="button"],
  input[type="reset"] {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  button,
  input[type="button"],
  input[type="reset"] {
    font-size: 25.6px;
    font-size: 1.6rem;
  }
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
  border-color: #ccc #bbb #aaa;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus {
  border-color: #aaa #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
  padding-left: 10px;
}

textarea {
  padding-left: 3px;
  width: 100%;
}

/*--------------------------------------------------------------
3.0 Accessibility
--------------------------------------------------------------*/
/*
* Usage: https://smacss.com/book/type-module
**/
.main-navigation {
  display: none;
  padding: 0;
  margin: 30px -16px 0;
  clear: both;
}
@media (min-width: 992px) {
  .main-navigation {
    float: right;
    display: block !important;
    margin: 5px -12px 0;
    padding: 10px 0 0;
    clear: none;
  }
}
.main-navigation__item {
  display: block;
  width: 100%;
  padding: 0;
  border: 1px transparent solid;
  border-top: 1px #d0d0d0 solid;
  list-style: none;
  z-index: 2;
  line-height: 1;
}
@media (min-width: 992px) {
  .main-navigation__item {
    padding: 6px 0 25px;
    width: auto;
    border: 1px transparent solid;
    float: left;
  }
}
@media (min-width: 992px) {
  .main-navigation__item.open {
    background: #f5f5f5;
    border: 1px #d0d0d0 solid;
    border-bottom: none;
  }
}
.main-navigation__item.open::after {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  background: #f5f5f5;
  height: 2px;
  z-index: 2;
}
@media (min-width: 992px) {
  .main-navigation__item.open::after {
    content: '';
  }
}
.main-navigation__link {
  display: block;
  padding: 20px;
  text-decoration: none;
  font-size: 25.6px;
  font-size: 1.6rem;
  color: #58595b;
}
@media (min-width: 992px) {
  .main-navigation__link {
    font-size: 22.4px;
    font-size: 1.4rem;
  }
}
@media (min-width: 992px) {
  .main-navigation__link {
    padding: 0 12px;
  }
}
.main-navigation__link:hover, .main-navigation__link:focus {
  text-decoration: none;
  color: #0068b0;
}
.main-navigation__link > .fa-angle-down {
  float: right;
  color: #0068b0;
  font-size: 25.6px;
  font-size: 1.6rem;
}
@media (min-width: 992px) {
  .main-navigation__link > .fa-angle-down {
    margin-right: 0;
    margin-left: 2px;
    float: none;
    font-size: 22.4px;
    font-size: 1.4rem;
  }
}
.main-navigation__container {
  width: 100%;
}
@media (min-width: 992px) {
  .main-navigation__container {
    width: auto;
  }
}

.megamenu {
  display: none;
  position: absolute;
  z-index: 1;
  top: -2px;
  left: -1px;
  left: 18px;
  right: -12px;
  height: 0;
  background: #f5f5f5;
  border: 1px #d0d0d0 solid;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
}
@media (max-width: 992px) {
  .megamenu {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .megamenu {
    right: 0;
  }
}

.toolbar {
  padding: 7px 0;
  color: #fff;
  font-size: 19.2px;
  font-size: 1.2rem;
  background: #0068b0;
}
.toolbar label {
  margin-bottom: 0;
  margin-right: 5px;
  color: #ddebf5;
  font-size: 19.2px;
  font-size: 1.2rem;
}
.toolbar a, .toolbar .sortable {
  font-size: 19.2px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.toolbar__select {
  border: 1px #fff solid;
  border-radius: 3px;
  font-size: 19.2px;
  font-size: 1.2rem;
}

.site-search {
  float: right;
  font-size: 22.4px;
  font-size: 1.4rem;
}
.site-search input {
  max-width: 100%;
  height: 27px;
  border-radius: 3px;
  font-size: 19.2px;
  font-size: 1.2rem;
  line-height: 27px;
  background: #f5f5f5;
}
.site-search--navbar, .site-search--footer {
  position: relative;
  margin: 12px 0 0 .5em;
  width: 170px;
}
.site-search--navbar__submit, .site-search--footer__submit {
  position: absolute;
  top: 0;
  right: 0;
}
@media (min-width: 992px) {
  .site-search--navbar {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .site-search--navbar {
    margin-top: 12px;
  }
}
.site-search--footer {
  margin: 5px 0 0;
  float: left;
  clear: both;
  max-width: 250px;
  width: 100%;
}
.site-search--footer__input {
  width: 100%;
}
@media (min-width: 768px) {
  .site-search--footer {
    margin: 0 0 0 .5em;
    float: left;
    clear: none;
    width: 200px;
  }
}

.breadcrumbs {
  padding: 15px 0;
  background: #f5f5f5;
}
.breadcrumbs__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.breadcrumbs__item {
  display: inline-block;
  font-size: 17.6px;
  font-size: 1.1rem;
  font-weight: 300;
}
.breadcrumbs__item + .breadcrumbs__item {
  margin-left: 25px;
  position: relative;
}
.breadcrumbs__item + .breadcrumbs__item::before {
  position: absolute;
  top: 50%;
  left: -14px;
  transform: translateY(-50%);
  content: '';
  height: 4px;
  width: 4px;
  border: 4px transparent solid;
  border-left-color: #58595b;
}
.breadcrumbs__link, .breadcrumbs__link:visited {
  color: #58595b;
  text-decoration: none;
  font-weight: 400;
}
.breadcrumbs__link:hover, .breadcrumbs__link:focus {
  color: #58595b;
  text-decoration: none;
}

.subnav {
  margin: 0 0 0 20px;
  padding: 0;
  list-style: none;
  font-size: 25.6px;
  font-size: 1.6rem;
  display: none;
}
.subnav.depth0 {
  margin: 1.5em 0;
  border-right: 1px #d0d0d0 solid;
}
.subnav.depth0, .subnav.active, .active > .subnav {
  display: block;
}
.subnav.depth2 {
  margin-left: 25px;
}
.subnav__item {
  position: relative;
  font-weight: 300;
}
.depth2 > .subnav__item {
  font-size: 22.4px;
  font-size: 1.4rem;
}
.subnav__item > .caret {
  margin-top: 10px;
  margin-right: 8px;
  height: 21px;
  width: 21px;
  position: relative;
  border: 1px #d0d0d0 solid;
  border-radius: 2px;
  float: right;
  cursor: pointer;
  transition: border 0.2s, color 0.2s, background 0.2s;
}
.subnav__item > .caret::after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: '\f105';
  height: 20px;
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 27.2px;
  font-size: 1.7rem;
}
.subnav__item > .caret.active::after {
  margin-left: 0;
}
.subnav__item > .caret:hover, .subnav__item > .caret.active {
  background: #0068b0;
  border-color: #0068b0;
  color: #fff;
}
.subnav__item > .caret.active {
  transform: rotate(90deg);
}
.depth1 > .subnav__item > .caret {
  border: none;
  border-color: #fff;
  margin: 10px 5px 0 0;
  float: left;
  height: 17px;
  width: 17px;
}
.depth1 > .subnav__item > .caret:hover, .depth1 > .subnav__item > .caret.active {
  color: #58595b;
  background-color: transparent;
  border: none;
  border-color: #fff;
}
.depth1 > .subnav__item > .caret:hover {
  border: 1px #d0d0d0 solid;
}
.depth1 > .subnav__item > .caret::after {
  height: 11px;
  width: 11px;
  content: '\f0da';
  margin: 0;
  font-size: 22.4px;
  font-size: 1.4rem;
  line-height: 0.6;
}
.depth1 > .subnav__item > .caret.active::after {
  margin-left: 0;
  margin-top: 0;
}
.subnav__link, .subnav__link:visited {
  display: inline-block;
  padding: 10px 0;
  line-height: 1;
  text-decoration: none;
  color: #58595b;
}
.depth0 > .has_children > .subnav__link, .depth0 > .has_children > .subnav__link:visited {
  font-weight: 500;
}
.subnav__link.active, .subnav__link:hover, .active > .subnav__link, .depth2 .has_active_children > .subnav__link, .subnav__link:visited.active, .subnav__link:visited:hover, .active > .subnav__link:visited, .depth2 .has_active_children > .subnav__link:visited {
  color: #0068b0;
}

.sitemap {
  padding: 0;
  margin: 0;
}
.sitemap.depth0 {
  padding-left: 1.5%;
  width: 98.5%;
}
.sitemap.depth1 {
  margin: 10px 0;
}
.sitemap.depth2 {
  margin: 5px 0 15px;
}
.sitemap__item {
  list-style: none;
}
.depth0 > .sitemap__item {
  float: left;
  min-width: 100%;
}
@media (min-width: 768px) {
  .depth0 > .sitemap__item {
    min-width: 47.5%;
    margin-right: 2.5%;
    margin-top: 10px;
  }
}
@media (min-width: 992px) {
  .depth0 > .sitemap__item {
    min-width: 30%;
    margin-right: 3.3%;
    min-height: 150px;
  }
}
@media (min-width: 1200px) {
  .depth0 > .sitemap__item {
    margin-right: 2.5%;
    min-width: 22.5%;
    min-height: 255px;
  }
}
.sitemap__link {
  text-decoration: none;
  color: #004a7d;
  line-height: 1.7;
  font-size: 22.4px;
  font-size: 1.4rem;
}
.depth1 > .has_children > .sitemap__link {
  font-weight: 500;
}
.depth0 > .sitemap__item > .sitemap__link {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 300;
  color: #0068b0;
}
.depth3 > .sitemap__item > .sitemap__link {
  padding-left: 11px;
  position: relative;
}
.depth3 > .sitemap__item > .sitemap__link::before {
  content: '';
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  height: 3px;
  width: 3px;
  border: 3px transparent solid;
  border-left-color: #000;
}

.item-list h2 {
  margin-top: 5px;
  font-size: 32px;
  font-size: 2rem;
  color: #0068b0;
  font-weight: 300;
}
.item-list td,
.item-list th {
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 768px) {
  .item-list td,
  .item-list th {
    width: 100%;
  }
}
.item-list th {
  padding-top: 15px;
  padding-bottom: 25px;
  font-size: 22.4px;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #58595b;
  display: none;
}
@media (min-width: 768px) {
  .item-list th {
    display: table-cell;
  }
}
.item-list tr {
  border-bottom: 1px #d0d0d0 solid;
}
.item-list td {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (min-width: 768px) {
  .item-list td {
    display: table-cell;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.item-list td:first-child {
  padding-top: 20px;
}
.item-list td:last-child {
  padding-bottom: 20px;
}
.item-list td > p {
  margin: 5px 0;
}
.item-list__location {
  color: #7e7f82;
}

.cta {
  margin-top: 25px;
  padding: 17px;
  text-align: center;
  background: #f2f7fb;
}
.cta p {
  margin: 10px 0;
}
.cta--stock {
  text-align: left;
  padding: 17px 25px;
}
.cta--stock p {
  font-size: 22.4px;
  font-size: 1.4rem;
}
.cta--stock p.small {
  font-size: 16px;
  font-size: 1rem;
}
.cta--stock > table {
  margin: 10px 0;
}
.cta--stock > table td {
  font-size: 22.4px;
  font-size: 1.4rem;
  padding: 1px 0;
}
.cta__title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 41.6px;
  font-size: 2.6rem;
  color: #0068b0;
  font-weight: 300;
}
.cta__title-small {
  margin-top: 0;
  margin-bottom: 15px;
  text-align: left;
  font-size: 32px;
  font-size: 2rem;
  color: #0068b0;
}
.cta__title-small .cta__icon {
  color: #ffb400;
  font-size: 40px;
  font-size: 2.5rem;
}
.cta__phone {
  color: #0068b0;
}
.cta__phone .cta__icon {
  font-size: 16px;
  font-size: 1rem;
  margin-right: 7.5px;
}

input.form-control {
  background-color: #f5f5f5;
  border: 0;
  border-radius: 0;
}

@media (min-width: 768px) {
  .form-inline > .form-group + .form-group {
    margin-left: 15px;
  }
}
.form-inline label {
  padding-right: 5px;
  font-weight: 300;
  vertical-align: middle;
}
.form-inline--login-widget h2 {
  margin: 0;
  font-size: 32px;
  font-size: 2rem;
  font-weight: 500;
}
.form-inline--login-widget > .form-group {
  margin-right: 16px;
}
.form-inline--login-widget > .form-group--title {
  display: block;
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  .form-inline--login-widget > .form-group--title {
    display: inline-block;
    margin-bottom: 0;
  }
}
.form-inline--login-widget > .form-group > label {
  vertical-align: middle;
  margin: 0;
  font-size: 20.8px;
  font-size: 1.3rem;
  font-weight: 300;
}
.form-inline--login-widget > .form-group + .form-group {
  margin-left: 0;
}
.form-inline--login-widget .form-control {
  border-radius: 3px;
  border-color: #00528e;
  background: #00528e;
}
.form-inline--login-widget .form-control, .form-inline--login-widget .form-control:focus {
  color: #fff;
}
.form-inline--login-widget .btn-default:hover, .form-inline--login-widget .pagination > li > a:hover, .form-inline--login-widget .pagination > li > .sortable:hover {
  border-color: #d0d0d0;
}

/*
.btn-icon {
  padding: 6px 15px;
  .btn__icon--hover {
    display:none;
  }
  &:hover {
    .btn__icon {
      display: none;
    }
    .btn__icon--hover {
      display: inline-block;
    }
  }
}
*/
.stock-info__title {
  font-size: 41.6px;
  font-size: 2.6rem;
  font-weight: 300;
  margin-top: 0;
}
.stock-info__date {
  font-weight: 300;
  font-size: 22.4px;
  font-size: 1.4rem;
  font-style: italic;
}
.stock-info__value {
  padding: 25px 0;
  border-bottom: 1px #fff solid;
  line-height: 1;
  text-align: center;
  color: #fff;
  font-size: 88px;
  font-size: 5.5rem;
  background: #0068b0;
}
.stock-info__change {
  padding: 13px 0;
  color: #fff;
  line-height: 1;
  font-weight: 400;
  font-size: 30.4px;
  font-size: 1.9rem;
  text-align: center;
  background: #0068b0;
}
.stock-info__change.up {
  color: #8aff01;
}

.table--stock-info th {
  text-transform: uppercase;
  font-size: 20.8px;
  font-size: 1.3rem;
  font-weight: 500;
  width: 60%;
}
.table--stock-info td {
  font-size: 25.6px;
  font-size: 1.6rem;
  color: #0067b1;
}
.table--stock-info > tbody > tr:nth-of-type(2n+1) {
  background: #fafafa;
}

.over-box__content {
  margin-bottom: 12px;
  padding-bottom: 20px;
  border-bottom: 1px #d0d0d0 solid;
}
@media (min-width: 992px) {
  .over-box__content {
    min-height: 150px;
    padding-bottom: 0;
  }
}
.over-box__content p:first-child {
  margin-top: 0;
}
.over-box__heading {
  padding-bottom: 12px;
  margin: 50px 0 24px;
  border-bottom: 1px #d0d0d0 solid;
  font-size: 35.2px;
  font-size: 2.2rem;
  font-weight: 300;
}
@media (min-width: 992px) {
  .over-box {
    padding-right: 35px;
  }
}
.over-box__read-more, .over-box__title, .over-box__date {
  font-size: 19.2px;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
}
.over-box__read-more > a, .over-box__read-more > .sortable, .over-box__title > a, .over-box__title > .sortable, .over-box__date > a, .over-box__date > .sortable {
  text-decoration: none;
}

.custom-icon::before, .fa-icon--pdf::before, .fa-icon--link::before, .fa-icon--play::before {
  font-family: "genmark-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-icon.btn, .pagination > li > a.fa-icon, .pagination > li > .fa-icon.sortable {
  padding: 9px 12px 8.66px;
}
.fa-icon.btn--small {
  padding: 6px 12px 5px;
}
.fa-icon::before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  font-size: 22.4px;
  font-size: 1.4rem;
  vertical-align: middle;
  padding-right: 7px;
  line-height: 1;
}
.fa-icon--pdf::before {
  content: "b";
}
.fa-icon--external::before {
  content: '\f08e';
}
.fa-icon--link::before {
  margin-left: -4px;
  content: "a";
}
.fa-icon--sitemap::before {
  content: '\f0e8';
}
.fa-icon--clock::before {
  content: '\f017';
}
.fa-icon--headphones::before {
  content: '\f025';
}
.fa-icon--map-marker::before {
  content: '\f041';
}
.fa-icon--play::before {
  content: "v";
}

.colophon {
  text-align: left;
  margin-top: 5px;
}

.menu-toggle {
  float: right;
}
@media (min-width: 992px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle > .fa-bars {
  font-size: 22.4px;
  font-size: 1.4rem;
}

.hero {
  background-size: contain;
  padding-top: 50%;
}
@media (min-width: 768px) {
  .hero {
    background-size: cover;
    padding-top: 0;
  }
}
@media (min-width: 1200px) {
  .hero {
    height: 389px;
  }
}
.hero--eplex {
  position: relative;
  height: 150px;
  background: url("img/eplex-gradient-bg.jpg") bottom center no-repeat;
  background-size: 100% auto;
  z-index: 0;
}
@media (min-width: 768px) {
  .hero--eplex {
    height: 265px;
  }
}
@media (min-width: 992px) {
  .hero--eplex {
    height: 320px;
  }
}
@media (min-width: 1200px) {
  .hero--eplex {
    height: 400px;
  }
}
.hero--eplex-int {
  position: relative;
  height: 150px;
  background-size: 100% auto;
  z-index: 0;
}
@media (min-width: 768px) {
  .hero--eplex-int {
    height: 265px;
  }
}
@media (min-width: 992px) {
  .hero--eplex-int {
    height: 320px;
  }
}
@media (min-width: 1200px) {
  .hero--eplex-int {
    height: 400px;
  }
}
.hero--eplex .hero__img {
  display: block;
  position: absolute;
  right: 45px;
  bottom: -31px;
  width: 100%;
  height: 100%;
  background: url("img/eplex-np-hero.png") bottom right no-repeat;
  background-size: auto 100%;
  content: "";
  z-index: 5;
}
@media (min-width: 768px) {
  .hero--eplex .hero__img {
    right: -30px;
    bottom: -15px;
  }
}
@media (min-width: 992px) {
  .hero--eplex .hero__img {
    right: 0;
    bottom: -18px;
  }
}
@media (min-width: 1200px) {
  .hero--eplex .hero__img {
    bottom: -27px;
    height: 400px;
  }
}
.hero--eplex-int .hero__img-int {
  display: block;
  position: absolute;
  right: 45px;
  bottom: -31px;
  width: 100%;
  height: 100%;
  background: url("img/newIntBanner.png") bottom right no-repeat;
  background-size: auto 100%;
  content: "";
  z-index: 5;
}
@media (min-width: 768px) {
  .hero--eplex-int .hero__img-int {
    right: -30px;
    bottom: -15px;
  }
}
@media (min-width: 992px) {
  .hero--eplex-int .hero__img-int {
    right: 0;
    bottom: -18px;
  }
}
@media (min-width: 1200px) {
  .hero--eplex-int .hero__img-int {
    bottom: -27px;
    height: 400px;
  }
}
.hero--eplex .hero__title {
  font-family: "HelveticaNeueLTStd-BlkCn", "Roboto", sans-serif;
  margin-bottom: 0;
  font-weight: bold;
}
@media (min-width: 992px) {
  .hero--eplex .hero__title {
    font-size: 128px;
    font-size: 8rem;
  }
}
.hero--eplex .hero__title .small {
  display: block;
  font-family: "HelveticaNeueLTStd-BdCn", "Roboto", sans-serif;
  font-size: 46%;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .3em;
}
.hero--eplex .hero__title sup {
  top: -1.5em;
  font-size: 33%;
  font-family: "Roboto", sans-serif;
}
.hero--eplex .hero__content {
  margin: 50px 30px 0;
}
@media (min-width: 768px) {
  .hero--eplex .hero__content {
    margin: 15px 0 0;
  }
}
@media (min-width: 1200px) {
  .hero--eplex .hero__content {
    margin-top: 85px;
    margin-left: 30px;
    padding-right: 20px;
  }
}
.hero--eplex .hero__content p {
  font-size: 25.6px;
  font-size: 1.6rem;
  margin: 9px 0;
  font-family: 'helvetica ce', "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1;
}
@media (min-width: 992px) {
  .hero--eplex .hero__content p {
    font-size: 30.4px;
    font-size: 1.9rem;
    margin: 20px 0;
  }
}
.hero--eplex .hero__content strong {
  font-style: italic;
  font-weight: bold;
}
.hero__fda-cleared {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -3%;
  margin-left: -34%;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .hero__fda-cleared {
    width: 70px;
    height: 70px;
    top: 50px;
    left: 10px;
    margin: 0;
    transform: none;
  }
}
@media (min-width: 992px) {
  .hero__fda-cleared {
    width: 115px;
    height: 115px;
    top: 75px;
    left: 20px;
  }
}
@media (min-width: 1200px) {
  .hero__fda-cleared {
    top: 115px;
    left: 20px;
  }
}
.hero__content {
  margin-top: 25px;
  max-width: 670px;
}
.hero__content > h1 {
  margin-top: 0;
  font-size: 56px;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.15;
}
@media (min-width: 768px) {
  .hero__content > h1 {
    font-size: 86.4px;
    font-size: 5.4rem;
  }
}
@media (min-width: 1200px) {
  .hero__content {
    margin-top: 85px;
  }
}
.hero__btn {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  width: 48%;
}
@media (min-width: 768px) {
  .hero__btn {
    width: auto;
  }
}
.hero__btn__icon {
  transition: opacity 0.2s;
}
.hero__btn__icon--hover {
  position: absolute;
  opacity: 0;
}
.hero__btn:hover .hero__btn__icon {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}
.hero__btn:hover .hero__btn__icon--hover {
  position: static;
  opacity: 1;
}
.hero__content-int p {
  margin: 0;
  font-size: 35.2px;
  font-size: 2.2rem;
  line-height: 25px;
}
@media (min-width: 1200px) {
  .hero__content-int p {
    font-size: 48px;
    font-size: 3rem;
    line-height: 35px;
  }
}
.hero__content-int__title {
  font-family: "HelveticaNeueL", "Roboto", sans-serif;
  font-weight: 500;
  color: #b856a1;
  font-size: 48px;
  font-size: 3rem;
  line-height: 4rem;
}
@media (min-width: 768px) {
  .hero__content-int__title {
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
@media (min-width: 1200px) {
  .hero__content-int__title {
    font-size: 64px;
    font-size: 4rem;
    line-height: 5rem;
  }
}
.hero__content-int__title .bigger {
  font-family: "HelveticaNeueLTStd-BdCn", "Roboto", sans-serif;
  font-weight: 600;
}
@media (min-width: 768px) {
  .hero__content-int__title .bigger {
    font-size: 78.4px;
    font-size: 4.9rem;
  }
}
@media (min-width: 1200px) {
  .hero__content-int__title .bigger {
    font-size: 94.4px;
    font-size: 5.9rem;
  }
}

.home-cta {
  margin: 55px 0;
  padding-left: 20px;
}
@media (min-width: 992px) {
  .home-cta {
    padding-left: 0;
    padding-right: 40px;
  }
}
@media (min-width: 992px) {
  .home-cta + .home-cta {
    padding-left: 40px;
    padding-right: 0;
    border-left: 1px #f5f5f5 solid;
  }
}
.home-cta p {
  margin-top: 0;
}
.home-cta__title {
  font-size: 60.8px;
  font-size: 3.8rem;
  margin: 0;
  margin-bottom: 30px;
  color: #0068b0;
}
.home-cta__img {
  display: inline-block;
  max-width: 169px;
  margin-right: 0px;
}
@media (min-width: 768px) {
  .home-cta__img {
    margin-right: 40px;
  }
}
.home-cta--small {
  margin: 40px 0;
}
@media (min-width: 992px) {
  .home-cta--small {
    padding-right: 25px;
  }
}
.home-cta--small + .home-cta--small {
  border-color: #d0d0d0;
}
@media (min-width: 992px) {
  .home-cta--small + .home-cta--small {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.home-cta--small .home-cta__title {
  font-size: 51.2px;
  font-size: 3.2rem;
  margin-bottom: 20px;
}
.home-cta .pull-left {
  width: 100%;
}
@media (min-width: 768px) {
  .home-cta .pull-left {
    width: auto;
  }
}
.home-cta--alt {
  color: #fff;
  background: #0068b0;
}
.home-cta--alt + .home-cta {
  border-color: transparent;
}
.home-cta--alt .home-cta__title {
  padding-bottom: .5em;
  border-bottom: 1px #fff solid;
  color: #fff;
}

.intro-text, .system-header__text p {
  font-size: 44.8px;
  font-size: 2.8rem;
}
.intro-text--panel {
  font-size: 32px;
  font-size: 2rem;
}

.system-header {
  margin-top: 50px;
}
@media (min-width: 768px) {
  .system-header > .media-body {
    padding-left: 50px;
  }
}
.system-header__text p {
  font-size: 38.4px;
  font-size: 2.4rem;
  margin-top: 0;
}
.system-header__btn a, .system-header__btn .sortable {
  margin-right: 10px;
  margin-bottom: 10px;
}

.content-widget {
  display: inline-block;
  width: 100%;
  padding: 20px 25px 25px;
  border: 1px #d0d0d0 solid;
  border-radius: 6px;
}
@media (min-width: 768px) {
  .content-widget {
    width: auto;
  }
}
.content-widget__title {
  margin-top: 0;
  font-size: 41.6px;
  font-size: 2.6rem;
  color: #0068b0;
  clear: none;
}
.content-widget--solution {
  padding: 30px 40px;
}
@media (min-width: 768px) {
  .content-widget--solution {
    min-width: 500px;
  }
}
.content-widget--solution .content-widget__img {
  float: left;
  margin-right: 50px;
}
.content-widget--panelinfo {
  margin-top: 35px;
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .content-widget--panelinfo {
    width: auto;
    text-align: left;
    margin-left: 25px;
  }
}
@media (min-width: 992px) {
  .content-widget--panelinfo {
    margin-left: 50px;
  }
}
@media (min-width: 1200px) {
  .content-widget--panelinfo {
    margin-left: 110px;
  }
}
.content-widget--panelinfo a, .content-widget--panelinfo .sortable {
  margin-right: 10px;
  margin-bottom: 10px;
}
.content-widget--panels {
  padding: 20px 15px;
  display: block;
  text-align: center;
}
.content-widget--panels .content-widget__title {
  color: #58595b;
  margin-bottom: 15px;
  font-size: 28.8px;
  font-size: 1.8rem;
}
.content-widget--panels .content-widget__text a, .content-widget--panels .content-widget__text .sortable {
  text-decoration: none;
}
.content-widget--panels .content-widget__text, .content-widget--pipeline .content-widget__text {
  margin-bottom: 0;
}
.content-widget--panels, .content-widget--pipeline {
  margin-bottom: 1.5em;
}
.content-widget.fakelink {
  transition: background 0.2s;
  box-shadow: 1px 1px 3px #eee;
}
.content-widget.fakelink:hover {
  background: #f6f6f6;
}
.content-widget--pipeline .content-widget__img {
  max-width: 280px;
}
.content-widget--fw .content-widget--fw__img, .content-widget--fw .content-widget--fw__title, .content-widget--fw .content-widget--fw__btn, .content-widget--fw .content-widget--fw__btn-set {
  text-align: center;
}
@media (min-width: 768px) {
  .content-widget--fw .content-widget--fw__img, .content-widget--fw .content-widget--fw__title, .content-widget--fw .content-widget--fw__btn, .content-widget--fw .content-widget--fw__btn-set {
    text-align: left;
  }
}
.content-widget--fw .content-widget--fw__title, .content-widget--fw .content-widget--fw__img > img {
  padding-left: 0;
}
@media (min-width: 768px) {
  .content-widget--fw .content-widget--fw__title, .content-widget--fw .content-widget--fw__img > img {
    padding-left: 25px;
  }
}
.content-widget--fw .content-widget--fw__title > h3 {
  margin: 0;
}
.content-widget--fw .content-widget--fw__btn-set {
  min-width: 270px;
}
.content-widget--fw .content-widget--fw__btn-set a + a, .content-widget--fw .content-widget--fw__btn-set .sortable + a, .content-widget--fw .content-widget--fw__btn-set a + .sortable, .content-widget--fw .content-widget--fw__btn-set .sortable + .sortable {
  margin-left: 10px;
}
.content-widget--development {
  margin-top: 20px;
}
.content-widget--development .col-xs-12 {
  min-height: 100px;
  padding-right: 0;
}
@media (min-width: 768px) {
  .content-widget--development .col-sm-6 {
    min-height: 200px;
  }
}
@media (min-width: 1200px) {
  .content-widget--development .col-sm-6 {
    min-height: 180px;
  }
}
.content-widget--development .content-widget--development-btn {
  padding-top: 50px;
}
@media (min-width: 768px) {
  .content-widget--development .content-widget--development-btn {
    padding-top: 0;
    text-align: right;
  }
}
.content-widget--development-content {
  margin: 0 0 2em 1em;
}

.alertbar {
  border-bottom: 1px #0068b0 solid;
  background: #e5f0f7;
  padding: 15px 0;
}
.alertbar p {
  margin: 0;
}
.alertbar__icon {
  float: left;
  margin-right: 15px;
  font-size: 48px;
  font-size: 3rem;
  color: #0068b0;
  line-height: 0.8;
}
.alertbar__text {
  float: left;
}
.alertbar__close {
  line-height: 1.5;
  text-shadow: none;
  white-space: nowrap;
  text-decoration: underline;
}

.content-contact table td {
  padding: 0;
}

.login__widget, .register__widget {
  background: #0068b0;
  margin-top: 2.5em;
  padding: 5px 15px;
}
.login__widget h1, .login__widget p, .register__widget h1, .register__widget p {
  color: #fff;
}

.welcome-widget {
  background: #0068b0;
  color: #FFF;
  margin-top: 25px;
  margin-bottom: 50px;
}
.welcome-widget h1 {
  color: #FFF;
}

.crc-filter input[type=text] {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.crc-filter input[type=text], .crc-filter select {
  width: 100%;
}
.crc-filter label {
  font-size: 22.4px;
  font-size: 1.4rem;
}
.crc-filter .btn-search {
  background-color: #0068b0;
  border-color: #0068b0;
  color: #FFF;
}
.crc-filter .btn-search, .crc-filter .btn-reset {
  width: 100%;
  max-width: 500px;
}
@media (min-width: 768px) {
  .crc-filter .btn-search, .crc-filter .btn-reset {
    width: 100px;
  }
}
.crc-filter .pull-left {
  padding-right: 15px;
  width: 100%;
}
@media (min-width: 768px) {
  .crc-filter .pull-left {
    width: auto;
  }
}
.crc-filter .and-or {
  padding: 15px;
}
@media (min-width: 768px) {
  .crc-filter .and-or {
    padding: 0 15px 0 0;
  }
}
.crc-filter .and-or span {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .crc-filter .and-or span {
    position: relative;
    top: 35px;
  }
}
.crc-category > .col-sm-6 {
  height: 95px;
}
.crc-category h2 > a.upper-blue, .crc-category h2 > .upper-blue.sortable {
  font-size: 19.2px;
  font-size: 1.2rem;
  font-size: 1rem;
  padding-top: 1.5rem;
}
.crc-category a, .crc-category .sortable {
  text-decoration: none;
  color: #0068b0;
}
.crc-category a p span.icon, .crc-category .sortable p span.icon {
  padding-right: 15px;
  padding-bottom: 25px;
}
.crc-category a p span.title, .crc-category .sortable p span.title {
  font-size: 22.4px;
  font-size: 1.4rem;
}

.content-panel a, .content-panel .sortable {
  text-decoration: none;
}
.content-panel-item {
  background-color: #f2f7fb;
  padding: 1.25rem;
  margin-bottom: 2rem;
}
.content-panel-item:hover {
  background-color: #0068b0;
  color: #fff;
}
.content-panel-item__header {
  border-bottom: 1px solid #c2daec;
}
.content-panel-item__header p {
  font-size: 19.2px;
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.content-panel-item__header i {
  font-size: 19.2px;
  font-size: 1.2rem;
}
.content-panel-item:hover .content-panel-item__header {
  border-color: #8ccbf8;
}
.content-panel-item:hover .content-panel-item__header p {
  color: #8ccbf8;
}
.content-panel-item__content {
  height: 95px;
}
.content-panel-item__file-icon {
  display: block;
}
.content-panel-item:hover .content-panel-item__file-icon {
  display: none;
}
.content-panel-item__file-icon--hover {
  display: none;
}
.content-panel-item:hover .content-panel-item__file-icon--hover {
  display: block;
}

.created-by__btn:hover .created-by__btn__icon {
  opacity: 0;
}
.created-by__btn:hover .created-by__btn__icon--hover {
  opacity: 1;
}
.created-by__btn__icon--hover {
  opacity: 0;
}
.created-by__btn__icon, .created-by__btn__icon--hover {
  position: absolute;
  transition: opacity 0.2s;
  right: auto;
  left: 10px;
}
@media (min-width: 1200px) {
  .created-by__btn__icon, .created-by__btn__icon--hover {
    right: 15px;
    left: auto;
  }
}
@media (min-width: 1200px) {
  .created-by__btn__icon, .created-by__btn__icon--hover {
    right: 35px;
    left: auto;
  }
}

.search-result__title {
  margin-bottom: 0;
}

.p404-search {
  width: 300px;
  float: left;
}

.p404-search--__submit {
  float: left;
  width: 35px;
  height: 35px;
}

.alignleft {
  margin-right: 15px;
}

.gallery {
  margin-bottom: 25px;
}

.gallery-img {
  max-width: 430px;
  display: none;
}
.gallery-img.active {
  display: inline-block;
}

.gallery-thumbs {
  max-width: 430px;
  margin: 0;
  list-style: none;
}
.gallery-thumbs__item {
  width: 19%;
  float: left;
}
.gallery-thumbs__item + .gallery-thumbs__item {
  margin-left: 1%;
}
.gallery-thumbs__thumb {
  display: inline-block;
  padding: 15px 3px;
  border: 1px #ccc solid;
  transition: .2s border;
  cursor: pointer;
}
.gallery-thumbs__thumb:hover, .gallery-thumbs__thumb.active {
  border: 1px #0068b0 solid;
}

.gallery-text {
  display: none;
}
.gallery-text.active {
  display: block;
}
.gallery-text p {
  font-size: 25.6px;
  font-size: 1.6rem;
  margin: 0;
}
.gallery-text p.small {
  font-size: 22.4px;
  font-size: 1.4rem;
}
.gallery-text ul {
  margin: .25em 0 .25em 1.5em;
}
.gallery-text sup {
  top: -.5em;
  font-size: 70%;
}

.tabs {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.tab-list {
  display: none;
  margin: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .tab-list {
    display: block;
  }
}
.tab-list__item {
  font-size: 22.4px;
  font-size: 1.4rem;
  position: relative;
  width: 100%;
  padding: 12px 10px;
  padding-right: 18px;
  transition: background .2s, color .2s;
  cursor: pointer;
}
.tab-list__item + .tab-list__item {
  border-top: 1px solid #e1e1e1;
}
.tab-list__item:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: '\f054';
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  color: #dadce1;
}
.tab-list__item.active, .tab-list__item:hover, .tab-list__item:focus, .tab-list__item:active {
  position: relative;
  background-color: #0068b0;
  color: #fff;
}
.tab-list__item.active:after, .tab-list__item:hover:after, .tab-list__item:focus:after, .tab-list__item:active:after {
  color: #fff;
}

.tab-accordion-title {
  font-size: 25.6px;
  font-size: 1.6rem;
  position: relative;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 12px 10px;
  padding-right: 18px;
  border-bottom: 2px solid #e1e1e1;
  transition: background .2s, color .2s;
  cursor: pointer;
  line-height: 1;
}
@media (min-width: 768px) {
  .tab-accordion-title {
    display: none;
  }
}
.tab-accordion-title:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: '\f054';
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%) rotate(90deg);
  transform-origin: center center;
  color: #dadce1;
}
.tab-accordion-title.active, .tab-accordion-title:hover, .tab-accordion-title:focus, .tab-accordion-title:active {
  position: relative;
  background-color: #0068b0;
  color: #fff;
  border-bottom-color: transparent;
}
.tab-accordion-title.active:after, .tab-accordion-title:hover:after, .tab-accordion-title:focus:after, .tab-accordion-title:active:after {
  color: #fff;
}
.tab-accordion-title.active:after {
  transform: translateY(-50%) rotate(-90deg);
}

.tab-list-content {
  position: relative;
}
.tab-list-content__title {
  font-size: 41.6px;
  font-size: 2.6rem;
  display: none;
  margin-top: 0;
  color: #0068b0;
}
@media (min-width: 768px) {
  .tab-list-content__title {
    display: block;
  }
}
.tab-list-content__item {
  display: none;
  top: 0;
  right: 0;
  transition: opacity .4s;
}
@media (min-width: 768px) {
  .tab-list-content__item {
    position: absolute;
    display: block;
    opacity: 0;
  }
}
.tab-list-content__item.active {
  position: relative;
  display: block;
  opacity: 1;
  transition: .4s opacity .4s;
}
.tab-list-content__item p,
.tab-list-content__item ul {
  margin-top: .75em;
  margin-bottom: .75em;
}

/*--------------------------------------------------------------
4.0 Layout
--------------------------------------------------------------*/
/*
* Usage: https://smacss.com/book/type-layout
**/
.header__logo {
  float: left;
  margin-top: 0;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header__logo {
    margin-top: 12px;
  }
}

.navbar {
  padding: 20px 0 0;
  margin-bottom: 12px;
}

#sidebar {
  margin-right: 20px;
}

.prefooter {
  padding: 25px 0;
  color: #fff;
  background: #0068b0;
}
.prefooter a, .prefooter .sortable {
  color: #fff;
}
.prefooter small {
  color: #fff;
  padding-right: 25px;
}
.prefooter .btn, .prefooter .pagination > li > a, .prefooter .pagination > li > .sortable {
  color: #0068b0;
}
.prefooter .btn:hover, .prefooter .pagination > li > a:hover, .prefooter .pagination > li > .sortable:hover {
  background-color: #f5f5f5;
}
.prefooter__left, .prefooter__right {
  text-align: center;
}
.prefooter__right .btn-go-to-crc {
  background: transparent;
  color: #fff;
  text-transform: none;
}
.prefooter__right .btn-go-to-crc:hover {
  color: #0068b0;
}
.prefooter__right span {
  font-weight: 200;
  font-size: 1.25rem;
  padding: 10px;
  color: #a3bdda;
  display: block;
}
@media (min-width: 768px) {
  .prefooter__right span {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .prefooter__right {
    text-align: right;
  }
}

.mainfooter {
  padding: 20px 0 10px;
}

#footer {
  margin-top: 85px;
  font-size: 17.6px;
  font-size: 1.1rem;
}
.front-page #footer {
  margin-top: 0;
}

.footer__logo {
  display: inline-block;
  margin-top: 11px;
}
.footer__contact {
  margin-top: 0;
}
.footer__contact.first {
  margin-top: 15px;
}
@media (min-width: 768px) {
  .footer__contact {
    margin-top: 32px;
  }
}
.footer__controls {
  margin-top: 16px;
}

/*--------------------------------------------------------------
5.0 Misc
--------------------------------------------------------------*/
/*
* Usage: Utility classes that do not fit anywhere in particular into SMACSS (https://smacss.com/book/)
**/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #58595b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

.clear:before,
.clear:after {
  content: "";
  display: table;
}

.clear:after {
  clear: both;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.required {
  color: red;
  font-size: 1.25rem;
  position: relative;
  top: -5px;
}

.up {
  color: #9fa617;
}

.upper-blue {
  font-weight: 500;
  color: #0068b0;
}

label.upper-blue {
  font-size: 22.4px;
  font-size: 1.4rem;
}

.thin {
  font-weight: 200;
}

.question {
  font-weight: 300;
  font-size: 32px;
  font-size: 2rem;
  color: #58595b;
}

.note {
  font-style: italic;
  font-size: 22.4px;
  font-size: 1.4rem;
}

.footnote {
  margin-bottom: 0;
  font-size: 19.2px;
  font-size: 1.2rem;
  font-style: italic;
  word-wrap: break-word;
}
@media (min-width: 768px) {
  .footnote {
    word-wrap: normal;
  }
}

.fakelink {
  cursor: pointer;
}

.error {
  font-weight: 300;
  color: red;
  font-size: 22.4px;
  font-size: 1.4rem;
}

#menu-primary-nav .dropdown-backdrop,
#menu-primary-nav-international .dropdown-backdrop {
  display: none;
}

/*--------------------------------------------------------------
6.0 Shaaaaaaaaaaaaame
--------------------------------------------------------------*/
/*
* Usage: Anything you aren't proud of, or hope/plan to fix later. Hopefully empty, but useful for identifying pain points when it's not.
**/
/**
 * This controls the mega menu.
 *
 * I tried to keep it sane with child selectors, but I didn't have time to build an entirely new nav walker to class it properly
 */
#menu-item-1981 {
  display: block;
}
@media (min-width: 768px) {
  #menu-item-1981 {
    display: none;
  }
}

.embed-responsive-1by1 {
  padding-bottom: 100%;
}

.main-navigation .dropdown-menu {
  margin: 15px 0;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  position: relative;
  float: none;
}
@media (min-width: 992px) {
  .main-navigation .dropdown-menu {
    position: absolute;
    z-index: 1;
    left: -1px;
    right: -1px;
    background: #f5f5f5;
  }
}
.main-navigation .dropdown-menu > li > a, .main-navigation .dropdown-menu > li > .sortable {
  padding: 15px;
  font-weight: 300;
  text-decoration: none;
  line-height: 1;
}
.main-navigation .dropdown-menu > li > a:hover, .main-navigation .dropdown-menu > li > .sortable:hover {
  color: #0068b0;
  background-color: transparent;
}
.main-navigation .dropdown-menu > li.bold a, .main-navigation .dropdown-menu > li.bold .sortable {
  font-weight: 500;
}

.main-navigation__item > .main-navigation__link.active .fa-angle-down {
  transform: rotate(180deg);
}

.main-navigation__item > .dropdown-menu {
  min-width: 200px;
  margin: 0;
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  .main-navigation__item > .dropdown-menu {
    margin: 15px 11px 15px 0;
    margin-left: 1px;
  }
}
.main-navigation__item > .dropdown-menu > li {
  position: static;
}
@media (min-width: 992px) {
  .main-navigation__item > .dropdown-menu > li {
    padding-right: 15px;
    border-right: 1px #d0d0d0 solid;
  }
}
.main-navigation__item > .dropdown-menu > li.menu-item-has-children > a, .main-navigation__item > .dropdown-menu > li.menu-item-has-children > .sortable {
  font-weight: 500;
}
.main-navigation__item > .dropdown-menu > li > a, .main-navigation__item > .dropdown-menu > li > .sortable {
  padding-left: 30px;
  position: relative;
}
@media (min-width: 992px) {
  .main-navigation__item > .dropdown-menu > li > a, .main-navigation__item > .dropdown-menu > li > .sortable {
    padding-left: 15px;
    font-weight: 300;
  }
}
@media (min-width: 992px) {
  .main-navigation__item > .dropdown-menu > li > a.hover, .main-navigation__item > .dropdown-menu > li > .hover.sortable, .main-navigation__item > .dropdown-menu > li > a:focus, .main-navigation__item > .dropdown-menu > li > .sortable:focus {
    background: #0068b0;
    color: #fff;
  }
}
.main-navigation__item > .dropdown-menu > li > a.hover > .fa-angle-down, .main-navigation__item > .dropdown-menu > li > .hover.sortable > .fa-angle-down, .main-navigation__item > .dropdown-menu > li > a:focus > .fa-angle-down, .main-navigation__item > .dropdown-menu > li > .sortable:focus > .fa-angle-down {
  color: #58595b;
}
@media (min-width: 992px) {
  .main-navigation__item > .dropdown-menu > li > a.hover > .fa-angle-down, .main-navigation__item > .dropdown-menu > li > .hover.sortable > .fa-angle-down, .main-navigation__item > .dropdown-menu > li > a:focus > .fa-angle-down, .main-navigation__item > .dropdown-menu > li > .sortable:focus > .fa-angle-down {
    color: #fff !important;
  }
}
.main-navigation__item > .dropdown-menu > li > a > .fa-angle-down, .main-navigation__item > .dropdown-menu > li > .sortable > .fa-angle-down {
  border: 1px #d0d0d0 solid;
  border-radius: 2px;
  height: 21px;
  width: 21px;
  float: right;
  cursor: pointer;
  transition: border 0.2s, color 0.2s, background 0.2s;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
@media (min-width: 992px) {
  .main-navigation__item > .dropdown-menu > li > a > .fa-angle-down, .main-navigation__item > .dropdown-menu > li > .sortable > .fa-angle-down {
    border: none;
    transition: none;
  }
}
.main-navigation__item > .dropdown-menu > li > a > .fa-angle-down::before, .main-navigation__item > .dropdown-menu > li > .sortable > .fa-angle-down::before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: '\f105';
  height: 20px;
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 27.2px;
  font-size: 1.7rem;
}
.main-navigation__item > .dropdown-menu > li > a > .fa-angle-down:hover, .main-navigation__item > .dropdown-menu > li > .sortable > .fa-angle-down:hover, .main-navigation__item > .dropdown-menu > li > a > .fa-angle-down.active, .main-navigation__item > .dropdown-menu > li > .sortable > .fa-angle-down.active {
  background: #0068b0;
  border-color: #0068b0;
  color: #fff;
}
@media (min-width: 992px) {
  .main-navigation__item > .dropdown-menu > li > a > .fa-angle-down:hover, .main-navigation__item > .dropdown-menu > li > .sortable > .fa-angle-down:hover, .main-navigation__item > .dropdown-menu > li > a > .fa-angle-down.active, .main-navigation__item > .dropdown-menu > li > .sortable > .fa-angle-down.active {
    background-color: transparent;
    border-color: transparent;
    color: #0068b0;
  }
}
.main-navigation__item > .dropdown-menu > li > a > .fa-angle-down.active, .main-navigation__item > .dropdown-menu > li > .sortable > .fa-angle-down.active {
  transform: rotate(90deg) translateX(-50%);
}
.main-navigation__item > .dropdown-menu > li.hover > .dropdown-menu {
  left: 0;
}
@media (min-width: 992px) {
  .main-navigation__item > .dropdown-menu > li.hover > .dropdown-menu {
    display: block;
    left: 100%;
    top: 0;
    border: none;
    margin: 0;
  }
}
.main-navigation__item > .dropdown-menu > li > .dropdown-menu {
  margin: 0;
  padding-left: 30px;
  width: 100%;
}
@media (min-width: 992px) {
  .main-navigation__item > .dropdown-menu > li > .dropdown-menu {
    padding-left: 0;
    display: none;
    width: 500px;
  }
}
@media (min-width: 992px) {
  .main-navigation__item > .dropdown-menu > li > .dropdown-menu > li.dropdown {
    float: left;
  }
}
.main-navigation__item > .dropdown-menu > li > .dropdown-menu > li.dropdown > a, .main-navigation__item > .dropdown-menu > li > .dropdown-menu > li.dropdown > .sortable {
  font-weight: normal;
}
.main-navigation__item > .dropdown-menu > li > .dropdown-menu > li.dropdown > a > .fa-angle-down, .main-navigation__item > .dropdown-menu > li > .dropdown-menu > li.dropdown > .sortable > .fa-angle-down {
  display: none;
}
.main-navigation__item > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu {
  display: block;
  position: static;
  border: none;
  margin: 0;
}
.main-navigation__item > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > a, .main-navigation__item > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > .sortable {
  position: relative;
  display: inline-block;
  margin-left: 11px;
}
.main-navigation__item > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > a:hover, .main-navigation__item > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > .sortable:hover {
  color: #0068b0;
}
.main-navigation__item > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > a:hover::before, .main-navigation__item > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > .sortable:hover::before {
  border-left-color: #0068b0;
}
.main-navigation__item > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > a::before, .main-navigation__item > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > .sortable::before {
  content: '';
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  height: 3px;
  width: 3px;
  border: 3px transparent solid;
  border-left-color: #000;
}

.table--request-information .upper-blue,
.upper-blue--real {
  text-transform: uppercase;
}

/*--------------------------------------------------------------
7.0 Overriding Bootstrap Styles
--------------------------------------------------------------*/
.pagination {
  width: 100%;
  text-align: center;
}
.pagination > li {
  display: inline-block;
}
.pagination > li > span {
  padding: 10px 15px;
  line-height: 1;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > li > span:hover, .pagination > li > span:active {
  border-color: #0068b0;
  color: #fff;
  background: #0068b0;
}
.pagination > li + li {
  margin-left: 5px;
}

.dropdown-menu--toolbar {
  margin-top: -1px;
  padding: 0;
  border: 1px #d0d0d0 solid;
  background: #0068b0;
  color: #fff;
  border-radius: 4px;
  border-top-left-radius: 0;
}
.dropdown-menu--toolbar > li > a, .dropdown-menu--toolbar > li > .sortable {
  padding-left: 6px;
  color: #fff;
}
.dropdown-menu--toolbar > li > a:hover, .dropdown-menu--toolbar > li > .sortable:hover, .dropdown-menu--toolbar > li > a.active, .dropdown-menu--toolbar > li > .active.sortable {
  background: #3385c1;
  color: #fff;
  border-color: #d0d0d0;
}

button.btn,
button.btn:hover {
  box-shadow: none;
  text-shadow: none;
}

.modal-content {
  color: #58595b;
}

.modal-dialog {
  margin-top: 45px;
}

@media (min-width: 1200px) {
  .modal-lg {
    width: 1300px;
    max-width: 90%;
  }
}

@media (min-width: 768px) {
  .modal-video {
    width: 801px;
    max-width: 90%;
  }
}
.modal-video .modal-body {
  padding: 0;
}

.modal--lang-switcher .modal-header, .modal--serial-key .modal-header, .modal--site-map .modal-header, .modal--req-info .modal-header {
  background: #0068b0;
}
.modal--lang-switcher .modal-header button, .modal--serial-key .modal-header button, .modal--site-map .modal-header button, .modal--req-info .modal-header button {
  color: #fff;
  text-shadow: none;
}
.modal--lang-switcher a, .modal--lang-switcher .sortable, .modal--lang-switcher button, .modal--serial-key a, .modal--serial-key .sortable, .modal--serial-key button, .modal--site-map a, .modal--site-map .sortable, .modal--site-map button, .modal--req-info a, .modal--req-info .sortable, .modal--req-info button {
  font-weight: 400;
}
.modal--lang-switcher p, .modal--serial-key p, .modal--site-map p, .modal--req-info p {
  font-size: 22.4px;
  font-size: 1.4rem;
}

.close,
button.close {
  font-weight: 300;
  font-size: 25.6px;
  font-size: 1.6rem;
  color: #58595b;
  opacity: 1;
  box-shadow: none;
}

.checkbox {
  font-size: 22.4px;
  font-size: 1.4rem;
}
.checkbox--nolabel {
  padding: 2px 0 5px 22px;
}
.checkbox--indent {
  margin-left: 20px;
}
.checkbox select {
  font-size: 22.4px;
  font-size: 1.4rem;
}

.popover--crc {
  width: 222px;
  width: 300px;
  border-radius: 0;
  color: #58595b;
}
.popover--crc__title {
  margin-top: 0;
}
.popover--crc label {
  font-weight: bold;
  color: #58595b;
}
.popover--crc a, .popover--crc .sortable,
.popover--crc a:visited,
.popover--crc .sortable:visited {
  color: #0068b0;
  font-weight: 300;
}
.popover--crc p {
  margin: 5px 0;
}
.popover__footer {
  margin: -1px;
  padding: 15px;
  color: #fff;
  text-align: center;
  background: #0068b0;
}
.popover__footer__title {
  margin-top: 0;
  font-size: 25.6px;
  font-size: 1.6rem;
}
.popover__footer .btn-default.reversed, .popover__footer .pagination > li > a.reversed, .popover__footer .pagination > li > .reversed.sortable {
  border-color: #f5f5f5;
}

.media-left > img,
.media-right > img,
td > img {
  max-width: none;
}

@media (max-width: 768px) {
  .media--stackable .media-left,
  .media--stackable .media-right,
  .media--stackable .media-body {
    display: block;
    width: auto;
  }
}
.media--stackable .media-right {
  padding: 0;
}
@media (min-width: 768px) {
  .media--stackable .media-right {
    padding-left: 10px;
  }
}
.media--stackable .media-left {
  padding: 0;
}
@media (min-width: 768px) {
  .media--stackable .media-left {
    padding-right: 10px;
  }
}
.media--team-member .media-left {
  padding-right: 30px;
}
.media--team-member .media-left img {
  border-radius: 5px;
  margin-bottom: 15px;
}
.media--team-member .team-member__title {
  font-weight: 200;
  margin-top: 0;
}
.media--team-member .team-member__name {
  text-transform: uppercase;
}

.media--panel-cta {
  padding: 20px 10px;
  border-radius: 3px;
  color: #fff;
  background: #0068b0;
}
@media (min-width: 768px) {
  .media--panel-cta {
    padding: 30px;
  }
}
.media--panel-cta .btn-default:hover, .media--panel-cta .pagination > li > a:hover, .media--panel-cta .pagination > li > .sortable:hover {
  border-color: #f5f5f5;
}
.media--panel-cta p {
  margin-top: 0;
}
@media (min-width: 768px) {
  .media--panel-cta p {
    margin-bottom: 0;
  }
}

.form-control, .alert-danger {
  max-width: 500px;
}

.sortable .caret {
  display: none;
}
.sortable.asc .caret, .sortable.desc .caret {
  display: inline-block;
}
.sortable:hover .caret, .sortable:active .caret, .sortable:focus .caret {
  display: inline-block;
}

div.wpcf7-mail-sent-ok {
  display: none !important;
}

.wpcf7-response-output.wpcf7-validation-errors {
  display: none !important;
}

span.wpcf7-not-valid-tip:before {
  font-family: 'Glyphicons Halflings';
  content: "\e101";
  padding-right: 5px;
}

span.wpcf7-not-valid-tip {
  width: 60%;
  max-width: 500px;
  background-color: #f2dede;
  color: #a94442;
  font-size: 1rem;
  border: 1px solid transparent;
  border-color: #ebccd1;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
}

.welcome-widget {
  background: white;
  color: #58595b;
  margin-top: 25px;
  margin-bottom: 50px;
  padding: 40px 60px;
  border: 7px solid #0068b0;
}
.welcome-widget h1 {
  margin-top: 0;
  color: #0068b0;
  font-weight: bold;
  font-size: 73.6px;
  font-size: 4.6rem;
}
.welcome-widget b {
  font-weight: bold;
}
.welcome-widget > p:last-child {
  margin-bottom: 0;
}

.search-resources__bottom-container {
  padding-top: 20px;
  padding-left: 11px;
  padding-right: 11px;
  padding-bottom: 20px;
  border-right: 4px solid #ebf0e9;
  border-bottom: 4px solid #ebf0e9;
  border-left: 4px solid #ebf0e9;
}
@media (min-width: 992px) {
  .search-resources__bottom-container {
    padding-bottom: 0;
  }
}
.search-resources__bottom-container label {
  color: #0068b1;
  font-weight: 500;
}
.search-resources__bottom-container .form-group {
  margin-bottom: 20px;
}

.heading__container {
  background: #0068b0;
}
.heading__container h2 {
  color: white;
  font-weight: bold;
  font-size: 49.6px;
  font-size: 3.1rem;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 11px;
}

.crc-filter select {
  -webkit-appearance: none;
  background: url(http://genmarkdx.com/wp-content/uploads/2018/08/dropdown_arrow.jpg) no-repeat 98% #fff;
}
@media (min-width: 992px) {
  .crc-filter select {
    background: url(http://genmarkdx.com/wp-content/uploads/2018/08/dropdown_arrow.jpg) no-repeat 95% #fff;
  }
}
@media (min-width: 992px) {
  .crc-filter .btn-search {
    width: 100%;
    margin-top: 25px;
  }
}
.crc-filter .content-panel > .content-panel__row .content-panel-item {
  border: 1px solid #cccccc;
  cursor: pointer;
}
.crc-filter .content-panel > .content-panel__row .content-panel-item:hover {
  background: #0068b0;
}
.crc-filter .content-panel > .content-panel__row .content-panel-item:hover h3 {
  color: white;
}
.crc-filter .content-panel > .content-panel__row:not(:last-child) .content-panel-item {
  border-bottom: none;
}
.crc-filter .content-panel-item {
  background: transparent;
  margin-bottom: 0;
}
.crc-filter .content-panel-item__content {
  height: auto;
}
.crc-filter .content-panel-item__content h3 {
  margin: 0;
  color: #58595b;
  font-size: 25.6px;
  font-size: 1.6rem;
}
.crc-filter .crc-download .upper-blue {
  margin: 0 0 28px 30px;
  opacity: .7;
}
.crc-filter .crc-download .upper-blue:hover {
  opacity: 1;
}
.crc-filter .crc-download .upper-blue:hover .title {
  border-bottom: 1px solid #a3bdda;
}
.crc-filter .crc-category h2 {
  margin-top: 0;
  margin-bottom: 38px;
}
.crc-filter .crc-category a p span.icon, .crc-filter .crc-category .sortable p span.icon {
  padding-bottom: 0;
}

.resources-nav {
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  .resources-nav {
    margin-bottom: 0;
  }
}
.resources-nav h2 {
  font-size: 49.6px;
  font-size: 3.1rem;
  font-weight: bold;
  color: #0068b0;
  padding-left: 15px;
  margin-top: 13px;
  margin-bottom: 24px;
}
.resources-nav .crc-cat.active .content-panel-item {
  background: #0068b0;
}
.resources-nav .crc-cat.active h3 {
  color: white;
}

.resources-count {
  margin: 0;
  text-align: right;
  font-size: 22.4px;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 15px 0;
}

.resources-result .crc-category {
  display: none;
}
.resources-result .crc-category.active {
  display: block;
}
