/*
* Usage: https://smacss.com/book/type-module
**/

.main-navigation {
  display: none;
  padding: 0;
  margin: 30px -16px 0;
  clear: both;

  @include respond-to(rsp) {
    float: right;
    display: block !important;
    margin: 5px -12px 0;
    padding: 10px 0 0;
    clear: none;
  }
  &__item {
    display: block;
    width: 100%;
    padding: 0;
    border: 1px transparent solid;
    border-top: 1px $color__secondary--dark solid;
    list-style: none;
    z-index: 2;
    line-height: 1;

    @include respond-to(rsp) {
      padding: 6px 0 25px;
      width: auto;
      border: 1px transparent solid;
      float: left;
    }
    &.open {

      @include respond-to(rsp) {
        background: $color__secondary;
        border: 1px $color__secondary--dark solid;
        border-bottom: none;
      }

      &::after {
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        background: $color__secondary;
        height: 2px;
        z-index: 2;

        @include respond-to(rsp) {
          content: '';
        }
      }
    }
  }
  &__link {
    display: block;
    padding: 20px;
    text-decoration: none;
    @include font-size(1.6);
    color: $color__text-screen;

    @include respond-to(rsp) {
      @include font-size(1.4);
    }

    @include respond-to(rsp) {
      padding: 0 12px;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: $color__link;
    }

    > .fa-angle-down {
      float: right;

      color: $color__primary;
      @include font-size(1.6);

      @include respond-to(rsp) {
        margin-right: 0;
        margin-left: 2px;
        float: none;
        @include font-size(1.4);
      }
    }
  }
  &__container {
    width: 100%;
    @include respond-to(rsp) {
      width: auto;
    }
  }
}

// Look for .dropdown-menu in _shame.scss

// this is the megamenu *background*; size is controlled in js
.megamenu {
  display: none;
  position: absolute;
  z-index: 1;
  top: -2px;
  left: -1px;
  left: 18px;
  right: -12px;
  height: 0;
  background: $color__secondary;
  border: 1px $color__secondary--dark solid;
  // border-left: 0;
  // border-right: 0;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);

  @media (max-width: $break__sm) {
    display: none !important;
  }
  @include respond-to(md) {
    right: 0;
  }

}

.toolbar {
  padding: 7px 0;

  color: #fff;
  @include font-size(1.2);

  background: $color__primary;
  label {
    margin-bottom: 0;
    margin-right: 5px;

    color: #ddebf5;
    @include font-size(1.2);
  }

  a {
    @include font-size(1.2);
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }

  &__select {
    border: 1px #fff solid;
    border-radius: 3px;

    // color: #fff;
    @include font-size(1.2);
    // background: $color__primary;
  }
}

.site-search {
  float: right;
  @include font-size(1.4);

  input {
    max-width: 100%;
    height: 27px;
    border-radius: 3px;

    @include font-size(1.2);
    line-height: 27px;

    background: $color__secondary;
  }

  &--navbar,
  &--footer {
    position: relative;
    margin: 12px 0 0 .5em;
    width: 170px;

    &__submit {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &--navbar {
    @include respond-to(rsp) {
      margin-top: 0;
    }
    @include respond-to(md) {
      margin-top: 12px;
    }
  }

  &--footer {
    margin: 5px 0 0;
    float: left;
    clear: both;
    max-width: 250px;
    width: 100%;
    &__input {
      width: 100%;
    }
    @include respond-to(xs) {
      margin: 0 0 0 .5em;
      float: left;
      clear: none;
      width: 200px;
    }
  }
}

.breadcrumbs {
  padding: 15px 0;

  background: $color__secondary;

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__item {
    display: inline-block;

    // text-transform: uppercase;
    @include font-size(1.1);
    font-weight: 300;

    & + & {
      margin-left: 25px;
      position: relative;

      &::before {
        position: absolute;
        top: 50%;
        left: -14px;
        transform: translateY( -50% );

        content: '';
        height: 4px;
        width: 4px;

        border: 4px transparent solid;
        border-left-color: #58595b;

      }
    }
  }
  &__link,
  &__link:visited {
    color: $color__text-screen;
    text-decoration: none;
    font-weight: 400;
  }
  &__link:hover,
  &__link:focus {
    color: $color__link-hover;
    text-decoration: none;
  }
}

.subnav {
  margin: 0 0 0 20px;
  padding: 0;

  list-style: none;
  @include font-size(1.6);

  &.depth0 { // root level
    margin: 1.5em 0;
    border-right: 1px $color__secondary--dark solid;
  }

  display: none;
  &.depth0,
  &.active,
  .active > & { // show root level and active sublevels
    display: block;
  }

  &.depth2 {
    margin-left: 25px;
  }

  &__item {
    position: relative;
    font-weight: 300;

    .depth2 > & {
      @include font-size(1.4);
    }

    > .caret {
      margin-top: 10px;
      margin-right: 8px;
      height: 21px;
      width: 21px;
      position: relative;

      border: 1px $color__secondary--dark solid;
      border-radius: 2px;

      float: right;
      cursor: pointer;

      transition: border 0.2s, color 0.2s, background 0.2s;

      &::after {
        @include fa();
        content: '\f105';
        height: 20px;
        width: 20px;

        // margin-left: 1px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        text-align: center;
        @include font-size(1.7);
      }

      &.active::after {
        margin-left: 0;
      }

      &:hover,
      &.active {
        background: $color__link;
        border-color: $color__link;
        color: #fff;
      }

      &.active {
        transform: rotate( 90deg );
      }

      .depth1 > & { // this is for carets *inside* 1st level, meaning 2nd level parents
        border: none;
        border-color: #fff;
        margin: 10px 5px 0 0;
        float: left;
        height: 17px;
        width: 17px;

        &:hover,
        &.active {
          // background-color:  $color__secondary;
          // border-color: $color__secondary--dark;
          color: $color__text-screen;
          background-color: transparent;
          border: none;
          border-color: #fff;
        }
        &:hover {
          border: 1px $color__secondary--dark solid;
        }
        &::after {
          height: 11px;
          width: 11px;
          content: '\f0da';
          margin: 0;

          @include font-size(1.4);
          line-height: 0.6;
        }

        &.active::after {
          margin-left: 0;
          margin-top: 0;
        }

      }
    }
  }
  &__link,
  &__link:visited {
    display: inline-block;
    padding: 10px 0;
    line-height: 1;
    text-decoration: none;
    color: $color__text-main;

    .depth0 > .has_children > & {
      font-weight: 500;
    }

    &.active,
    &:hover,
    .active > &,
    .depth2 .has_active_children > & {
      color: $color__primary;
    }
  }
}

.sitemap {
  padding: 0;
  margin: 0;

  &.depth0 {
    padding-left: 1.5%;
    width: 98.5%;
  }

  &.depth1 {
    margin: 10px 0;
  }

  &.depth2 {
    margin: 5px 0 15px;
  }

  &__item {
    list-style: none;

    .depth0 > & {
      float: left;
      min-width: 100%;

      @include respond-to(xs) {
        min-width: 47.5%;
        margin-right: 2.5%;
        margin-top: 10px;
      }

      @include respond-to(sm) {
        min-width: 30%;
        margin-right: 3.3%;
        min-height: 150px;
      }

      @include respond-to(md) {
        margin-right: 2.5%;
        min-width: 22.5%;
        min-height: 255px;
      }
    }
  }
  &__item.has_children + &__item.has_children {
    // margin-top: 10px;
  }

  &__link {
    text-decoration: none;
    color: $color__link-visited;
    line-height: 1.7;
    @include font-size(1.4);

    .depth1 > .has_children > & {
      font-weight: 500;
    }
  }

  &__item > &__link {
    .depth0 > & {
      @include font-size(2);
      font-weight: 300;
      color: $color__link;
    }
    .depth3 > & {
      padding-left: 11px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        left: 3px;
        top: 50%;
        transform: translateY(-50%);
        height: 3px;
        width: 3px;
        border: 3px transparent solid;
        border-left-color: #000;
      }
    }
  }

}

.item-list {

  h2 {
    margin-top: 5px;
    @include font-size(2.0);
    color: $color__primary;
    font-weight: 300;
  }

  td,
  th {
    padding-left: 10px;
    padding-right: 10px;

    @media (max-width: $break__xs) {
      width: 100%;
    }
  }

  th {
    padding-top: 15px;
    padding-bottom: 25px;

    @include font-size(1.4);
    text-transform: uppercase;
    color: $color__text-screen;
    display: none;

    @include respond-to(xs) {
      display: table-cell;
    }
  }

  tr {
    border-bottom: 1px $color__secondary--dark solid;
  }

  td {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;

    @include respond-to(xs) {
      display: table-cell;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &:first-child {
      padding-top: 20px;
    }
    &:last-child {
      padding-bottom: 20px;
    }

    > p {
      margin: 5px 0;
    }

  }

  &__location {
    color: lighten( $color__text-screen, 15% );
  }
}

.cta {
  margin-top: 25px;
  padding: 17px;
  text-align: center;
  background: $color__background-widget;

  p {
    margin: 10px 0;
  }

  &--stock {
    text-align: left;
    padding: 17px 25px;

    p {
      @include font-size(1.4);
      &.small {
        @include font-size(1);
      }
    }

    > table {
      margin: 10px 0;
      td {
        @include font-size(1.4);
        padding: 1px 0;
      }
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 15px;

    @include font-size(2.6);
    color: $color__primary;
    font-weight: 300;

    &-small{
      margin-top: 0;
      margin-bottom: 15px;
      text-align: left;
      @include font-size(2);
      color: $color__primary;
      & .cta__icon{
        color: #ffb400;
        @include font-size(2.5);
      }
    }
  }

  &__phone {
    color: $color__primary;
    & .cta__icon{
      @include font-size(1);
      margin-right: 7.5px;
    }
  }

}
input.form-control{
  background-color: #f5f5f5;
  border: 0;
  border-radius: 0;
}
.form-inline {
  > .form-group + .form-group {
    @include respond-to(xs) {
      margin-left: 15px;
    }
  }
  label {
    padding-right: 5px;
    // @include font-size(1.6);
    font-weight: 300;
    vertical-align: middle;
  }

  &--login-widget {
    h2 {
      margin: 0;
      @include font-size(2);
      font-weight: 500;
    }
    > .form-group {
      margin-right: 16px;
      &--title {
        display: block;
        margin-bottom: 10px;
        @include respond-to(md) {
          display: inline-block;
          margin-bottom: 0;
        }
      }
      > label {
        vertical-align: middle;
        margin: 0;
        @include font-size(1.3);
        font-weight: 300;
      }
    }
    > .form-group + .form-group {
      margin-left: 0;
    }
    .form-control {
      border-radius: 3px;
      border-color: $color__primary--dark;

      background: $color__primary--dark;

      &,
      &:focus {
        color: #fff;
      }
    }

    .btn-default {
      &:hover {
        border-color: $color__secondary--dark;
      }
    }
  }
}
/*
.btn-icon {
  padding: 6px 15px;
  .btn__icon--hover {
    display:none;
  }
  &:hover {
    .btn__icon {
      display: none;
    }
    .btn__icon--hover {
      display: inline-block;
    }
  }
}
*/
.stock-info {
  &__title {
    @include font-size(2.6);
    font-weight: 300;
    margin-top: 0;
  }
  &__date {
    font-weight: 300;
    @include font-size(1.4);
    font-style: italic;
  }
  &__value {
    padding: 25px 0;
    border-bottom: 1px #fff solid;

    line-height: 1;
    text-align: center;
    color: #fff;
    @include font-size(5.5);

    background: $color__primary;
  }
  &__change {
    padding: 13px 0;

    color: #fff;
    line-height: 1;
    font-weight: 400;
    @include font-size(1.9);
    text-align: center;

    background: $color__primary;

    &.up {
      color: #8aff01;
    }
  }
}

.table--stock-info {
  th {
    text-transform: uppercase;
    @include font-size(1.3);
    font-weight: 500;
    width: 60%;
  }
  td {
    @include font-size(1.6);
    color: #0067b1;
  }
  > tbody > tr:nth-of-type(2n+1) {
    background: #fafafa;
  }
}

.over-box {
  &__content {
    margin-bottom: 12px;
    padding-bottom: 20px;
    border-bottom: 1px $color__secondary--dark solid;

    @include respond-to(sm) {
      min-height: 150px;
      padding-bottom: 0;
    }

    p:first-child {
      margin-top: 0;
    }
  }
  &__heading {
    padding-bottom: 12px;
    margin: 50px 0 24px;
    border-bottom: 1px $color__secondary--dark solid;

    @include font-size(2.2);
    font-weight: 300;
  }
  @include respond-to(sm) {
    padding-right: 35px;
  }

  &__read-more,
  &__title,
  &__date {
    @include font-size(1.2);
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;
    > a {
      text-decoration: none;
    }
  }
}

.custom-icon::before {
  font-family: "genmark-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-icon {
  &.btn {
    padding: 9px 12px 8.66px;
  }
  &.btn--small {
    padding: 6px 12px 5px;
  }
  &::before {
    @include fa();
    @include font-size(1.4);
    vertical-align: middle;
    padding-right: 7px;
    line-height: 1;
    // margin-bottom: 2px;
  }

  &--pdf {
    @extend .custom-icon;
    &::before {
      content: "b";
    }
  }
  &--external {
    &::before {
      content: '\f08e';
    }
  }
  &--link {
    @extend .custom-icon;
    &::before {
      margin-left: -4px;
      content: "a";
    }
  }
  &--sitemap {
    &::before {
      content: '\f0e8';
    }
  }
  &--clock {
    &::before {
      content: '\f017';
    }
  }
  &--headphones {
    &::before {
      content: '\f025';
    }
  }
  &--map-marker {
    &::before {
      content: '\f041';
    }
  }
  &--play {
    @extend .custom-icon;
    &::before {
      content: "v";
    }
  }
}

.colophon {
  text-align: left;
  @include respond-to(md) {
    //text-align: right;
  }
  margin-top: 5px;
}

.menu-toggle {
  float: right;
  @include respond-to(rsp) {
    display: none;
  }
  > .fa-bars {
    @include font-size(1.4);
  }
}

.hero {
  // background: url('img/hero-responsive.jpg') top center no-repeat;
  background-size: contain;
  padding-top: 50%;

  @include respond-to(xs) {
    // background: url('img/hero.jpg') top center no-repeat;
    background-size: cover;
    padding-top: 0;
  }

  @include respond-to(md) {
    height: 389px;
  }

  &--eplex {
    position: relative;
    height: 150px;
    background: url('img/eplex-gradient-bg.jpg') bottom center no-repeat;
    background-size: 100% auto;
    z-index: 0;

    @include respond-to(xs) {
      height: 265px;
    }

    @include respond-to(sm) {
      height: 320px;
    }

    @include respond-to(md) {
      height: 400px;
    }
  }

  &--eplex-int {
  position: relative;
  height: 150px;
  // background: url('img/eplex-gradient-bg.jpg') bottom center no-repeat;
  background-size: 100% auto;
  z-index: 0;

  @include respond-to(xs) {
    height: 265px;
  }

  @include respond-to(sm) {
    height: 320px;
  }

  @include respond-to(md) {
    height: 400px;
  }
}

  &--eplex &__img {
    display: block;
    position: absolute;
    right: 45px;
    bottom: -31px;
    width: 100%;
    height: 100%;
    // max-width: 725px;
    background: url('img/eplex-np-hero.png') bottom right no-repeat;
    background-size: auto 100%;
    content: "";
    z-index: 5;

    @include respond-to(xs) {
      right: -30px;
      bottom: -15px;
    }

    @include respond-to(sm) {
      right: 0;
      bottom: -18px;
    }

    @include respond-to(md) {
      bottom: -27px;
      height: 400px;
    }
  }

    &--eplex-int &__img-int {
    display: block;
    position: absolute;
    right: 45px;
    bottom: -31px;
    width: 100%;
    height: 100%;
    // max-width: 725px;
    background: url('img/newIntBanner.png') bottom right no-repeat;
    background-size: auto 100%;
    content: "";
    z-index: 5;

    @include respond-to(xs) {
      right: -30px;
      bottom: -15px;
    }

    @include respond-to(sm) {
      right: 0;
      bottom: -18px;
    }

    @include respond-to(md) {
      bottom: -27px;
      height: 400px;
    }
  }

  &--eplex &__title {
    // @include font-size(8);
    font-family: "HelveticaNeueLTStd-BlkCn", "Roboto", sans-serif;
    margin-bottom: 0;
    font-weight: bold;

    @include respond-to(sm) {
      @include font-size(8);
    }

    .small {
      display: block;
      font-family: "HelveticaNeueLTStd-BdCn", "Roboto", sans-serif;
      font-size: 46%;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: .3em;
    }

    sup {
      top: -1.5em;
      font-size: 33%;
      font-family: "Roboto", sans-serif;
    }
  }

  &--eplex &__content {
    margin: 50px 30px 0;

    @include respond-to(xs) {
      margin: 15px 0 0;
    }

    @include respond-to(md) {
      margin-top: 85px;
      margin-left: 30px;
      padding-right: 20px;
    }

    p {
      @include font-size(1.6);
      margin: 9px 0;
      font-family: 'helvetica ce', "Roboto", sans-serif;
      font-weight: 400;
      line-height: 1;

      @include respond-to(sm) {
        @include font-size(1.9);
        margin: 20px 0;
      }
    }

    strong {
      font-style: italic;
      font-weight: bold;
    }
  }

  &__fda-cleared {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -3%;
    margin-left: -34%;
    transform: translate(-50%, -50%);

    @include respond-to(xs) {
      width: 70px;
      height: 70px;
      top: 50px;
      left: 10px;
      margin: 0;
      transform: none;
    }

    @include respond-to(sm) {
      width: 115px;
      height: 115px;
      top: 75px;
      left: 20px;
    }

    @include respond-to(md) {
      top: 115px;
      left: 20px;
    }
  }

  &__content {

    margin-top: 25px;
    max-width: 670px;

    > h1 {
      margin-top: 0;

      @include font-size(3.5);
      font-weight: 400;
      line-height: 1.15;
      @include respond-to(xs) {
        @include font-size(5.4);
      }
    }

    @include respond-to(md) {
      margin-top: 85px;
    }

  }


  &__btn {
    text-align: center;
    background-color: rgba(255,255,255,0.7);

    width: 48%;
    @include respond-to(xs) {
      width: auto;
    }
    &__icon {

      transition: opacity 0.2s;

      &--hover {
        position: absolute;
        opacity: 0;
      }
    }

    &:hover &__icon {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;

      &--hover {
        position: static;
        opacity: 1;

      }
    }
  }

  &__content-int {

    p {

      margin: 0;
      @include font-size(2.2);
      line-height: 25px;

      @include respond-to(md) {
        @include font-size(3);
        line-height: 35px;
      }

    }

    &__title {
      font-family: "HelveticaNeueL", "Roboto", sans-serif;
      font-weight: 500;
      color: #b856a1;
      @include font-size(3);
      line-height: 4rem;

        @include respond-to(xs) {

          @include font-size(2.5);
          line-height: 3rem;


        }

        @include respond-to(md) {

          @include font-size(4);
          line-height: 5rem;

        }

      .bigger {
        font-family: "HelveticaNeueLTStd-BdCn", "Roboto", sans-serif;
        font-weight: 600;


          @include respond-to(xs) {
            @include font-size(4.9);
          }

          @include respond-to(md) {
            @include font-size(5.9);
          }
      }
    }

  }

}


.home-cta {
  margin: 55px 0;
  padding-left: 20px;

  @include respond-to(sm) {
    padding-left: 0;
    padding-right: 40px;
  }

  & + & {
    @include respond-to(sm) {
      padding-left: 40px;
      padding-right: 0;
      border-left: 1px $color__secondary solid;
    }
  }

  p {
    margin-top: 0;
  }

  &__title {
    @include font-size(3.8);
    margin: 0;
    margin-bottom: 30px;
    color: $color__primary;
  }

  &__img {
    display: inline-block;
    max-width: 169px;
    margin-right: 0px;

    @include respond-to(xs) {
      margin-right: 40px;
    }

  }

  &--small {
    margin: 40px 0;

    @include respond-to(sm) {
      padding-right: 25px;
    }

    & + & {
      border-color: $color__secondary--dark;
      @include respond-to(sm) {
        padding-left: 25px;
        padding-right: 25px;
      }
    }

  }
  &--small &__title {
    @include font-size(3.2);
    margin-bottom: 20px;
  }

  .pull-left{
    width: 100%;
    @include respond-to(xs) {
      width: auto;
    }
  }

  &--alt {
    color: #fff;
    background: #0068b0;
  }

  &--alt + & {
    border-color: transparent;
  }

  &--alt &__title {
    padding-bottom: .5em;
    border-bottom: 1px #fff solid;
    color: #fff;
  }
}

.intro-text {
  @include font-size(2.8);
  &--panel {
    @include font-size(2);
  }
}

.system-header {
  margin-top: 50px;
  > .media-body {
    @include respond-to(xs) {
      padding-left: 50px;
    }
  }
  &__text {
    p {
      @extend .intro-text;
      @include font-size(2.4);
      margin-top: 0;
    }
  }
  &__btn {
    a {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}

.content-widget {
  display: inline-block;
  width: 100%;
  padding: 20px 25px 25px;
  border: 1px $color__secondary--dark solid;
  border-radius: 6px;

  @include respond-to(xs) {
    width: auto;
  }

  &__title {
    margin-top: 0;
    @include font-size(2.6);
    color: $color__primary;
    clear: none;
  }

  &--solution {
    padding: 30px 40px;
    @include respond-to(xs) {
      min-width: 500px;
    }
  }

  &--solution &__img {
    float: left;
    margin-right: 50px;
  }

  &--panelinfo {
    margin-top: 35px;
    width: 100%;
    text-align: center;
    @include respond-to(xs) {
      width: auto;
      text-align: left;
      margin-left: 25px;
    }
    @include respond-to(sm) {
      margin-left: 50px;
    }
    @include respond-to(md) {
      margin-left: 110px;
    }
    a{
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }

  &--panels {
    padding: 20px 15px;
    display: block;
    text-align: center;
  }
  &--panels &__title {
  color: $color__text-main;
    margin-bottom: 15px;
    @include font-size(1.8);
  }
  &--panels &__text a{
    //color: $color__link;
    text-decoration: none;
  }
  &--panels &__text,
  &--pipeline &__text {
    margin-bottom: 0;
  }

  &--panels,
  &--pipeline {
    margin-bottom: 1.5em;
  }

  &.fakelink {
    transition: background 0.2s;
    box-shadow: 1px 1px 3px #eee;

    &:hover {
      background: #f6f6f6;
    }
  }

  &--pipeline &__img {
    max-width: 280px;
  }

  &--fw {
    & &__img, & &__title, & &__btn, & &__btn-set {
      text-align: center;
      @include respond-to(xs) {
        text-align: left;
      }
    }
    & &__title , & &__img > img {
    padding-left: 0;
      @include respond-to(xs) {
        padding-left: 25px
      }
    }
    & &__title > h3 {
      margin: 0;
    }
    & &__btn-set{
      min-width: 270px;
      a + a{
        margin-left: 10px;
      }
    }
  }

  &--development {
    margin-top: 20px;

    .col-xs-12 {
      min-height: 100px;
      padding-right: 0;
    }
    .col-sm-6 {
      @include respond-to(xs) {
        min-height: 200px;
      }
      @include respond-to(md) {
        min-height: 180px;
      }
    }
    & &-btn {
      padding-top: 50px;
      @include respond-to(xs) {
        padding-top: 0;
        text-align: right;
      }
    }
    &-img {
    }
    &-content {
      margin: 0 0 2em 1em;
    }
  }
}

.alertbar {
  border-bottom: 1px $color__primary solid;
  background: $color__primary--lighter;
  padding: 15px 0;

  p {
    margin: 0;
  }

  &__icon {
    float: left;
    margin-right: 15px;
    @include font-size(3);
    color: $color__primary;
    line-height: 0.8;
  }

  &__text {
    float: left;
  }

  &__close {
    line-height: 1.5;
    text-shadow: none;
    white-space: nowrap;
    text-decoration: underline;
  }
}

.content-contact{
  table td{
    padding: 0;
  }
}
.login__widget, .register__widget {
  background: $color__primary;
  margin-top: 2.5em;
  padding: 5px 15px;

  h1, p {
    color: #fff;
  }
}

.welcome-widget{

  background: $color__primary;
  color: #FFF;
  margin-top: 25px;
  margin-bottom: 50px;
  h1{
    color: #FFF;
  }
}

.crc {

  &-filter{

    input[type=text] {
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    input[type=text], select {
      width: 100%;
    }

    label {
      @include font-size(1.4);
    }
    .btn-search {
      background-color: $color__primary;
      border-color: $color__primary;
      color: #FFF;
    }

    .btn-search, .btn-reset {
      width: 100%;
      max-width: 500px;
      @include respond-to(xs) {
        width: 100px;
      }
    }

    .pull-left{
      padding-right: 15px;
      width: 100%;
      @include respond-to(xs) {
        width: auto;
      }
    }
    .and-or {
      padding: 15px;
      @include respond-to(xs) {
        padding: 0 15px 0 0;
      }
      span {
        font-size: 1.5rem;
        @include respond-to(xs) {
          position: relative;
          top: 35px;
        }
      }
    }
  }

  &-category {

    > .col-sm-6 {
      height: 95px;
    }

    h2 > a.upper-blue {
      @include font-size(1.2);
      font-size: 1rem;
      padding-top: 1.5rem;
    }

    a {
      text-decoration: none;
      color: $color__primary;

      p {
        span.icon {
          padding-right: 15px;
          padding-bottom: 25px;
        }
        span.title {
          @include font-size(1.4);
        }
      }

      &:visited {
        p {
          span.title {

          }
        }
      }
    }
  }
}

.content-panel{

  a {
    text-decoration: none;
  }
  &-item {
    background-color: #f2f7fb;
    padding: 1.25rem;
    margin-bottom: 2rem;

    &:hover{
      background-color: $color__primary;
      color: #fff;
    }
    &__header {
      border-bottom: 1px solid #c2daec;
      p {
        @include font-size(1.2);
        margin-top: 0;
        margin-bottom: 0.5rem;
      }
      i {
        @include font-size(1.2);
      }
    }
    &:hover &__header {
      border-color: #8ccbf8;
      p {
        color: #8ccbf8;
      }
    }
    &__content {
      height: 95px;
    }
    &__file-icon {
      display: block;
    }
    &:hover &__file-icon {
      display:none;
    }
    &__file-icon--hover {
      display:none;
    }
    &:hover &__file-icon--hover {
      display: block;
    }
  }
}



.created-by{
  &__btn{
    &:hover &__icon{
      opacity: 0;
    }
    &:hover &__icon--hover{
      opacity: 1;
    }

    &__icon{
      &--hover{
        opacity: 0;
      }
    }
    &__icon, &__icon--hover{
    position: absolute;


      transition: opacity 0.2s;
      right: auto;
      left: 10px;
      @include respond-to(md) {
        right: 15px;
        left: auto;
      }
      @include respond-to(md) {
       right: 35px;
       left: auto;
      }
    }
  }
}

.search-result {
  &__title {
    margin-bottom: 0;
  }
}

.p404-search {
  width: 300px;
  float:left;
}
.p404-search--__submit {
  float:left;
  width: 35px;
  height: 35px;
}

.alignleft {
  margin-right: 15px;
}

.gallery {
  margin-bottom: 25px;
}

.gallery-img {
  max-width: 430px;
  display: none;

  &.active {
    display: inline-block;
  }
}

.gallery-thumbs {
  max-width: 430px;
  margin: 0;
  list-style: none;

  &__item {
    width: 19%;
    float: left;

    & + & {
      margin-left: 1%;
    }
  }

  &__thumb {
    display: inline-block;
    padding: 15px 3px;
    border: 1px #ccc solid;
    transition: .2s border;
    cursor: pointer;

    &:hover,
    &.active {
      border: 1px #0068b0 solid;
    }
  }
}

.gallery-text {
  display: none;

  &.active {
    display: block;
  }

  p {
    @include font-size(1.6);
    margin: 0;

    &.small {
      @include font-size(1.4);
    }
  }

  ul {
    margin: .25em 0 .25em 1.5em;
  }

  sup {
    top: -.5em;
    font-size: 70%;
  }
}

.tabs {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.tab-list {
  display: none;
  margin: 0;
  list-style: none;

  @include respond-to(xs) {
    display: block;
  }

  &__item {
    @include font-size(1.4);
    position: relative;
    width: 100%;
    padding: 12px 10px;
    padding-right: 18px;
    transition: background .2s, color .2s;
    cursor: pointer;

    & + & {
      border-top: 1px solid #e1e1e1;
    }

    &:after {
      @include fa();
      content: '\f054';
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
      color: #dadce1;
    }

    &.active,
    &:hover,
    &:focus,
    &:active {
      position: relative;
      background-color: #0068b0;
      color: #fff;
      // font-weight: bold;

      &:after {
        color: #fff;
      }
    }
  }
}

.tab-accordion-title {
  @include font-size(1.6);
  position: relative;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 12px 10px;
  padding-right: 18px;
  border-bottom: 2px solid #e1e1e1;
  transition: background .2s, color .2s;
  cursor: pointer;
  line-height: 1;

  @include respond-to(xs) {
    display: none;
  }

  &:after {
    @include fa();
    content: '\f054';
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%) rotate(90deg);
    transform-origin: center center;
    color: #dadce1;
  }

  &.active,
  &:hover,
  &:focus,
  &:active {
    position: relative;
    background-color: #0068b0;
    color: #fff;
    border-bottom-color: transparent;

    &:after {
      color: #fff;
    }
  }

  &.active {
    &:after {
      transform: translateY(-50%) rotate(-90deg);
    }
  }
}

.tab-list-content {
  position: relative;

  &__title {
    @include font-size(2.6);
    display: none;
    margin-top: 0;
    color: #0068b0;

    @include respond-to(xs) {
      display: block;
    }
  }

  &__item {
    display: none;
    top: 0;
    right: 0;
    transition: opacity .4s;

    @include respond-to(xs) {
      position: absolute;
      display: block;
      opacity: 0;
    }

    &.active {
      position: relative;
      display: block;
      opacity: 1;
      transition: .4s opacity .4s;
    }

    p,
    ul {
      margin-top: .75em;
      margin-bottom: .75em;
    }
  }
}

