$color__primary: #0068b0;
$color__primary--dark: #00528e;
$color__primary--light: #3385c1;
$color__primary--lighter: #e5f0f7;
$color__secondary: #f5f5f5;
$color__secondary--dark: #d0d0d0;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #faf5e5;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-widget: #f2f7fb;

$color__text-screen: #58595b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__primary;
$color__link-visited: darken( $color__primary, 10% );
$color__link-hover: #58595b;
$color__text-main: #58595b;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
