$size__site-main: 100%;
$size__site-sidebar: 25%;

$breakpoints: (
  xxs: 480px,
  xs: 768px,
  sm: 992px,
  md: 1200px,
  rsp: 992px,
);

$break__xs: map-get($breakpoints, xs);
$break__sm: map-get($breakpoints, sm);
$break__md: map-get($breakpoints, md);