$font__main: 'Roboto', sans-serif;
$font__heading: 'Roboto', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
@mixin font__base-size() {
  @media (max-width: $break__xs) {
    @include font-size(1.5);
  }
  @media (min-width: $break__xs) {
    @include font-size(1.6);
  }
}

@font-face {
    font-family: 'helvetica ce';
    src: url("fonts/HelveticaNeueCE-BoldItalic.woff2") format("woff2"),
        url("fonts/HelveticaNeueCE-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'helvetica ce';
    src: url("fonts/HelveticaNeueCE-Roman.woff2") format("woff2"),
        url("fonts/HelveticaNeueCE-Roman.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
