.main-navigation {
  &__item {
    &:last-child {
      .dropdown-menu {
        // left: auto;
        // right: 0;
      }
    }
  }
}

.pagination {
  width: 100%;
  text-align: center;
  > li {
    display: inline-block;
    > a {
      @extend .btn;
      @extend .btn-default;
    }
    > span {
      padding: 10px 15px;
      line-height: 1;
      background-color: #eee;
      border-color: #ddd;
      &:hover, &:active {
        border-color: #0068b0;
        color: #fff;
        background: #0068b0;
      }
    }
  }
  > li + li {
    margin-left: 5px;
  }
}

.dropdown-menu--toolbar {
  margin-top: -1px;
  padding: 0;
  border: 1px $color__secondary--dark solid;
  background: $color__link;
  color: #fff;
  border-radius: 4px;
  border-top-left-radius: 0;
  > li {
    > a {
      padding-left: 6px;
      color: #fff;
      &:hover,
      &.active{
        background: $color__primary--light;
        color: #fff;
        border-color: $color__secondary--dark;
      }
    }
  }
}
button.btn,
button.btn:hover {
  box-shadow: none;
  text-shadow: none;
}
.modal-content {
  color: $color__text-screen;
}
.modal-dialog {
  margin-top: 45px;
}
.modal-lg {
  @include respond-to(md) {
    width: 1300px;
    max-width: 90%;
  }
}
.modal-video {
  @include respond-to(xs) {
    width: 801px;
    max-width: 90%;
  }
  .modal-body {
    padding: 0;
  }
}
.modal--lang-switcher, .modal--serial-key, .modal--site-map, .modal--req-info {
  .modal-header {
    background: $color__primary;
    button {
      color: #fff;
      text-shadow: none;
    }
  }
  a, button {
    font-weight: 400;
  }
  p {
    @include font-size(1.4);
  }
}
.close,
button.close {
  font-weight: 300;
  @include font-size(1.6);
  color: $color__text-screen;
  opacity: 1;
  box-shadow: none;
}

.checkbox {
  @include font-size(1.4);
  &--nolabel {
    padding: 2px 0 5px 22px;
  }
  &--indent {
    margin-left: 20px;
  }

  select {
    @include font-size(1.4);
  }
}

.popover {
  &--crc {
    width: 222px;
    width: 300px;
    border-radius: 0;
    color: $color__text-screen;

    &__title {
      margin-top: 0;
    }

    label {
      font-weight: bold;
      color: $color__text-screen;
    }

    a,
    a:visited {
      color: $color__link;
      font-weight: 300;
    }

    p {
      margin: 5px 0;
    }
  }
  &__footer {
    margin: -1px;
    padding: 15px;
    color: #fff;
    text-align: center;
    background: $color__primary;
    &__title {
      margin-top: 0;
      @include font-size(1.6);
    }

    .btn-default.reversed {
      border-color: $color__secondary;
      // font-weight: 700;
    }
  }
}

.media-left,
.media-right,
td {
  > img {
    max-width: none;
  }
}

.media {
  &--stackable{
    .media-left,
    .media-right,
    .media-body {
      @media (max-width: $break__xs) {
        display: block;
        width: auto;
      }
    }

    .media-right {
      padding: 0;
      @include respond-to(xs) {
        padding-left: 10px;
      }
    }

    .media-left {
      padding: 0;
      @include respond-to(xs) {
        padding-right: 10px;
      }
    }
  }
  &--team-member{
    .media-left{
      padding-right: 30px;
      img{
        border-radius: 5px;
        margin-bottom: 15px;
      }
    }

    .team-member {
      &__title{
        font-weight: 200;
        margin-top: 0;
      }
      &__name {
        text-transform: uppercase;
      }
    }

  }
}


.media--panel-cta {
  padding: 20px 10px;
  border-radius: 3px;
  color: #fff;
  background: $color__primary;

  @include respond-to(xs) {
    padding: 30px;
  }

  .btn-default {
    &:hover {
      border-color: $color__secondary;
    }
  }
  p {
    margin-top: 0;
    @include respond-to(xs) {
      margin-bottom: 0;
    }
  }
}

.form-control, .alert-danger {
  max-width: 500px;
}

.sortable {
  .caret {
    display: none;
  }
  &.asc, &.desc {
    .caret {
      display: inline-block;
    }
  }
  &:hover, &:active, &:focus {
    .caret {
      display: inline-block;
    }
  }
}

div.wpcf7-mail-sent-ok {
  display: none !important;
}
.wpcf7-response-output.wpcf7-validation-errors {
  display: none !important;
}
span.wpcf7-not-valid-tip:before{
    font-family: 'Glyphicons Halflings';
    content: "\e101";
    padding-right: 5px;
}
span.wpcf7-not-valid-tip{
  width: 60%;
  max-width: 500px;
  background-color: #f2dede;
  color: #a94442;
  font-size: 1rem;
  border: 1px solid transparent;
  border-color: #ebccd1;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
}


// customer resources new style
.welcome-widget {
    background: white;
    color: #58595b;
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 40px 60px;
    border: 7px solid #0068b0;
    h1{
      margin-top: 0;
      color: #0068b0;
      font-weight: bold;
      @include font-size(4.6);
    }
    b{
      font-weight: bold;
    }
    >p{
      &:last-child{
        margin-bottom: 0;
      }
    }
}
.search-resources{
  &__container{

  }
  &__bottom-container{
    padding:{
      top: 20px;
      left: 11px;
      right: 11px;
      bottom: 20px
    }
    border:{
      right: 4px solid rgba(235,240,233,1);
      bottom: 4px solid rgba(235,240,233,1);
      left: 4px solid rgba(235,240,233,1);
    }
    @include respond-to(sm){
      padding-bottom: 0;
    }
    label{
      color: rgba(0,104,177,1);
      font-weight: 500;
    }
    .form-group{
      margin-bottom: 20px;
    }
  }
}
.heading{
  &__container{
    background: rgba(0,104,176,1);
    h2{
      color: white;
      font-weight: bold;
      @include font-size(3.1);
      margin:{
        top: 13px;
        bottom: 13px;
        left: 11px;
      }
    }
  }
}

.crc-filter{
  select{
    -webkit-appearance: none;
    background: url(http://genmarkdx.com/wp-content/uploads/2018/08/dropdown_arrow.jpg) no-repeat 98% #fff;
    @include respond-to(sm){
      background: url(http://genmarkdx.com/wp-content/uploads/2018/08/dropdown_arrow.jpg) no-repeat 95% #fff;
    }
  }
  .btn-search{
    @include respond-to(sm){
      width: 100%;
      margin-top: 25px;
    }
  }
  .content-panel {
    >.content-panel__row{
      .content-panel-item{
        border: 1px solid #cccccc;
        cursor: pointer;
        &:hover{
          background: #0068b0;
          h3{
            color: white;
          }
        }
      }
      &:not(:last-child){
        .content-panel-item{
          border-bottom: none;
        }
      }
    }
  }
  .content-panel-item{
    background: transparent;
    margin-bottom: 0;
    &__content{
      height: auto;
      h3{
        margin: 0;
        color: #58595b;
        @include font-size(1.6);
      }
    }
  }
  .crc-download{
    .upper-blue{
      margin: 0 0 28px 30px;
      opacity: .7;
      &:hover{
        opacity: 1;
        .title{
          border-bottom: 1px solid #a3bdda;
        }
      }
    }
  }
  .crc-category{
    h2{
      margin-top: 0;
      margin-bottom: 38px;
    }
    a p span.icon{
      padding-bottom: 0;
    }
  }
}
.resources-nav{
  margin-bottom: 50px;
  @include respond-to(sm){
    margin-bottom: 0;
  }
  h2{
    @include font-size(3.1);
    font-weight: bold;
    color: rgba(0,104,176,1);
    padding-left: 15px;
    margin-top: 13px;
    margin-bottom: 24px;
  }
  .crc-cat{
    &.active{
      .content-panel-item{
        background: #0068b0;
      }
      h3{
        color: white;
      }
    }
  }
}
.resources-count{
  margin: 0;
  text-align: right;
  @include font-size(1.4);
  font-weight: bold;
  margin: 15px 0;
}
.resources-result{
  .crc-category{
    display: none;
    &.active{
      display: block;
    }
  }
}


