/*
* Usage: Anything you aren't proud of, or hope/plan to fix later. Hopefully empty, but useful for identifying pain points when it's not.
**/

/**
 * This controls the mega menu.
 *
 * I tried to keep it sane with child selectors, but I didn't have time to build an entirely new nav walker to class it properly
 */

// Customer Resource Center
#menu-item-1981 {
  display: block;
  @include respond-to(xs) {
    display: none;
  }
}
.embed-responsive-1by1{
  padding-bottom: 100%;
}

// general cascading styles
.main-navigation .dropdown-menu {
  margin: 15px 0;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  position: relative;
  float: none;

  @include respond-to(rsp) {
    position: absolute;
    z-index: 1;
    left: -1px;
    right: -1px;
    background: $color__secondary;
  }

  > li {
    > a {
      padding: 15px;

      font-weight: 300;
      text-decoration: none;
      line-height: 1;
      &:hover {
        color: $color__primary;
        background-color: transparent;
      }
    }

    &.bold a {
      font-weight: 500;
    }
  }
}

.main-navigation__item > .main-navigation__link.active{
  .fa-angle-down{
    transform: rotate(180deg);
  }
}

// specific descending styles
.main-navigation__item > .dropdown-menu {
  min-width: 200px;
  margin: 0;
  margin-bottom: 15px;

  @include respond-to(rsp) {
    margin: 15px 11px 15px 0;
    margin-left: 1px;
  }

  > li {
    position: static;

    @include respond-to(rsp) {
      padding-right: 15px;
      border-right: 1px $color__secondary--dark solid;
    }

    &.menu-item-has-children > a {
      font-weight: 500;
    }

    > a {
      padding-left: 30px;
      position: relative;

      @include respond-to(rsp) {
        padding-left: 15px;
        font-weight: 300;
      }

      &.hover,
      &:focus {
        @include respond-to(rsp) {
          background: $color__primary;
          color: #fff;
        }
        > .fa-angle-down {
          color: $color__text-screen;
          @include respond-to(rsp) {
            color: #fff !important;
          }
        }
      }

      > .fa-angle-down {
        // display: none;
        border: 1px $color__secondary--dark solid;
        border-radius: 2px;
        height: 21px;
        width: 21px;

        float: right;
        cursor: pointer;

        transition: border 0.2s, color 0.2s, background 0.2s;

        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);

        @include respond-to(rsp) {
          border: none;
          transition: none;
        }


        &::before {
          @include fa();
          content: '\f105';
          height: 20px;
          width: 20px;

          // margin-left: 1px;

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);

          text-align: center;
          @include font-size(1.7);
        }

        &:hover,
        &.active {
          background: $color__link;
          border-color: $color__link;
          color: #fff;

          @include respond-to(rsp)  {
            background-color: transparent;
            border-color: transparent;
            color: $color__link;
          }
        }

        &.active {
          transform: rotate( 90deg ) translateX(-50%);
        }
      }
    }

    &.hover {
      > .dropdown-menu {
        left: 0;
        @include respond-to(rsp) {
          display: block;
          left: 100%;
          top: 0;
          border: none;
          margin: 0;
        }
      }
    }

    // sub-sub nav
    > .dropdown-menu {
      // display: block;
      margin: 0;
      padding-left: 30px;
      width: 100%;

      @include respond-to(rsp) {
        padding-left: 0;
        display: none;
        width: 500px;
      }

      > li {

        &.dropdown {
          @include respond-to(rsp) {
            float: left;
          }

          > a {
            // @include font-size(1.6);
            font-weight: normal;
            > .fa-angle-down {
              display: none;
            }
          }
        }

        > .dropdown-menu {
          display: block;
          position: static;
          border: none;
          margin: 0;

          > li {
            > a {
              position: relative;
              display: inline-block;
              margin-left: 11px;

              &:hover {
                color: $color__primary;
                &::before {
                  border-left-color: $color__primary;
                }
              }

              &::before {
                content: '';
                position: absolute;
                left: 3px;
                top: 50%;
                transform: translateY(-50%);
                height: 3px;
                width: 3px;
                border: 3px transparent solid;
                border-left-color: #000;
              }
            }
          }
        }
      }
    }
  }
}

.table--request-information .upper-blue,
.upper-blue--real {
  text-transform: uppercase;
}
